{% set all_cases_and_investigations = props.all_cases_and_investigations %}
{% set cases_posts = props.cases_posts %}
{% set categories = props.categories %}
{% set tags = props.tags %}

<section class="relative">
    <div class="site-max pt-80 s:pt-120 pb-32 s:pb-160" data-component="casesFilter(js-all-posts-container)">
        <div class="site-grid">
            <div class="s:col-start-1 col-span-full s:col-span-6 pb-65 s:pb-0">
                <h2 class="font-sans text-40 font-normal leading-[1.15] tracking-[-1%] text-green">{{ all_cases_and_investigations.title }}</h2>
            </div>

            <div class="s:col-start-9 col-span-full s:col-span-8 flex justify-end">
                <div class="relative pr-150 s:pr-0 overflow-x-auto s:overflow-x-visible scrollbar-hide flex items-start s:items-center justify-start s:justify-center flex-nowrap s:flex-wrap">
                    <button class="relative whitespace-nowrap s:whitespace-normal py-16 px-24 font-sans text-12 font-medium leading-none tracking-[0.12rem] uppercase border-[0.1rem] !border-r-0 border-solid border-grey-taupe bg-white-smoke" type="button" aria-label="Button to filter by all" data-filter="all">All</button>
                    {% for tag in tags %}
                        <button class="relative whitespace-nowrap s:whitespace-normal py-16 px-24 font-sans text-12 font-medium leading-none tracking-[0.12rem] uppercase border-[0.1rem] {{ loop.last ? 'border-r-[0.1rem]' : '!border-r-0' }} border-solid border-grey-taupe" type="button" aria-label="Button to filter by all" data-filter="{{ tag.slug }}">{{ tag.name }}</button>
                    {% endfor %}
                </div>
            </div>

            <div class="col-start-1 col-span-full pt-30 s:pt-50 flex flex-col gap-25 js-all-posts-container">
                <div class="relative grid grid-cols-3 gap-x-30 s:gap-x-24 gap-y-32 s:gap-y-[6.4rem]">
                    {% for post in cases_posts %}
                        {% set feature_content = function('get_field', 'feature_content', post.ID) %}
                        {% set post_link = function('get_permalink', post.ID) %}
                        
                        {% set all_taxonomies = function('get_object_taxonomies', 'cases') %}
                        {% set post_terms = {} %}

                        {% for taxonomy in all_taxonomies %}
                            {% set terms = function('get_the_terms', post.ID, taxonomy) %}
                            {% if terms and terms is not same as(false) %}
                                {% set post_terms = post_terms|merge({(taxonomy): terms}) %}
                            {% endif %}
                        {% endfor %}

                        <a class="relative block w-full js-all-posts-item" href="{{ post_link }}"
                            {% if post_terms['tags-cases'] %}
                                {% set category_slugs = [] %}
                                {% for tag in post_terms['tags-cases'] %}
                                    {% set category_slugs = tag.slug %}
                                {% endfor %}
                                data-filter-category="all,{{ category_slugs }}"
                            {% endif %}
                        >
                            <div class="absolute top-0 left-0 w-full flex flex-wrap items-center gap-4 p-16 z-2">
                                {% if post_terms['case-categories'] %}
                                    {% for category in post_terms['case-categories'] %}
                                        {% include "/views/partials/tag.twig" with {
                                            data: {
                                                text: category.name,
                                            }
                                        } %}
                                    {% endfor %}
                                {% endif %}
                            </div>

                            <figure class="relative overflow-hidden w-full h-auto pointer-events-none select-none">
                                {% if feature_content.feature_image %}
                                    {% include "blocks/common/image.twig" with {
                                        props : {
                                            data: {
                                                image : feature_content.feature_image
                                            },
                                            options: {
                                                container_class: 'w-full h-full overflow-hidden pointer-events-none select-none',
                                                class : 'w-full h-full object-cover pointer-events-none select-none',
                                                aspect_ratio: '67%',
                                                aspect_ratio_mobile: '67%',
                                            }
                                        }
                                    } %}
                                {% else %}
                                    <div class="pt-[150%] s:pt-[67%] bg-{{ feature_content.background_color|lower }}"></div>
                                {% endif %}
                            </figure>

                            <div class="relative w-full pt-24 s:pt-32 space-y-24 s:space-y-32">
                                <div class="flex flex-wrap items-start justify-start gap-4">
                                    {# Category #}
                                    {% if post_terms['post_tag'] %}
                                       
                                            {% for tag in post_terms['post_tag'] %}
                                                {% set tag_background_color = function('get_field', 'background_color', 'term_' ~ tag.term_id) %}
                                                {% include "/views/partials/category.twig" with {
                                                    data: {
                                                        text: tag.name,
                                                        bgColor: tag_background_color|default('green'),
                                                    }
                                                } %}
                                            {% endfor %}
                                        
                                    {% endif %}
                                </div>

                                <div class="flex flex-row items-start justify-between">
                                    <div class="relative pb-24 s:pb-0">
                                        <h4 class="text-24 font-normal leading-[1.04] tracking-[-0.024rem] text-green">{{ feature_content.title }}</h4>
                                    </div>

                                    <div class="relative">
                                        <button class="relative inline-flex space-x-8 text-12 font-medium leading-none tracking-[0.12rem] text-green uppercase" type="button" aria-label="Button to view post">
                                            <span class="inline-flex">
                                                <svg class="w-8 h-11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1.73438 1L6.23438 5.5L1.73438 10" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>

                {% if client_stories_posts.pagination.pages is not empty %}
                    {% include 'partials/pagination.twig' with {
                        props: {
                            pagination: client_stories_posts.pagination,
                            items_per_page: 18,
                            items_per_page_options: [6, 12, 18]
                        }
                    } %}
                {% endif %}
            </div>
        </div>
    </div>
</section>