{# Group posts by category #}
{% set posts_by_category = {} %}

{% for article in articles %}
    {% set post = article.news_post %}
    {% set post_categories = function('get_the_terms', post.ID, 'category') %}
    
    {% if post_categories %}
        {% for category in post_categories %}
            {% set cat_slug = category.slug %}
            {% if posts_by_category[cat_slug] is not defined %}
                {% set posts_by_category = posts_by_category|merge({
                    (cat_slug): {
                        'category': category,
                        'posts': []
                    }
                }) %}
            {% endif %}
            
            {# Add post to category if we have less than 4 #}
            {% if posts_by_category[cat_slug].posts|length < 4 %}
                {% set posts_by_category = posts_by_category|merge({
                    (cat_slug): {
                        'category': category,
                        'posts': posts_by_category[cat_slug].posts|merge([article])
                    }
                }) %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

<section class="relative bg-white" data-component="blogsFilter" data-filter-param="blog_category" role="region" aria-label="Blog posts by category">
    <div class="site-max pt-80 s:pt-160 pb-80 site-grid items-end">
  
        <div class="col-span-full s:col-span-4 space-y-32 s:space-y-40 pb-65 s:pb-0">

            <div class="relative">
                <h2 class="font-sans text-grey text-12 font-medium leading-none tracking-[0.12rem] uppercase">{{ item.subtitle|default('Latest') }}</h2>
            </div>

            <div class="relative">
                <h3 class="font-sans text-green text-40 font-normal leading-[1.16] tracking-[-0.04rem]">{{ item.title|default('Blog Posts') }}</h3>
            </div>

            <div class="relative block s:hidden">
                <a class="relative inline-flex space-x-8 items-center justify-center text-12 font-medium leading-none tracking-[0.12rem] text-white py-15 px-25 bg-green uppercase" href="{{ item.link.url|default('/blog') }}" target="{{ item.link.target|default('_self') }}">
                    <span class="inline-flex">
                        See all
                    </span>
                    <span class="inline-flex">
                        <svg class="w-8 h-11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_5001_23171)">
                                <path d="M1.73438 1L6.23438 5.5L1.73438 10" stroke="#7A7871" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                                <clipPath id="clip0_5001_23171">
                                    <rect width="7" height="11" fill="white" transform="translate(0.734375)"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </span>
                </a>
            </div>
        </div>

        <div class="relative col-span-full s:col-span-8 text-green">
            <div class="relative pr-150 s:pr-0 overflow-x-auto s:overflow-x-visible scrollbar-hide flex items-start s:items-center justify-start s:justify-center flex-nowrap s:flex-wrap" 
                    data-filter-container
                    role="tablist" 
                    aria-label="Filter posts by category">
                {% for cat_slug, cat_data in posts_by_category %}
                    <button class="relative whitespace-nowrap s:whitespace-normal py-16 px-24 font-sans text-12 font-medium leading-none tracking-[0.12rem] uppercase border-[0.1rem] {{ loop.first ? '!border-r-0 bg-white-smoke' : (loop.last ? 'border-r-[0.1rem]' : '!border-r-0') }} border-solid border-grey-taupe" 
                            type="button" 
                            role="tab"
                            aria-label="Filter by {{ cat_data.category.name }}" 
                            aria-pressed="{{ loop.first ? 'true' : 'false' }}"
                            aria-controls="category-{{ cat_slug }}"
                            data-filter-button="{{ cat_slug }}">
                        {{ cat_data.category.name }}
                    </button>
                {% endfor %}
            </div>

            <div class="newsroom-gradient select-none pointer-events-none absolute top-0 -right-20 w-[15rem] h-full block s:hidden"></div>

            <div class="absolute top-1/2 -translate-y-1/2 -right-10 block s:hidden select-none pointer-events-none">
                <button class="relative pointer-events-auto flex items-center justify-center bg-white-smoke p-8 rounded-[0.4rem]" 
                        type="button" 
                        aria-label="Scroll filter options"
                        data-scroll-filters>
                    <svg class="w-[0.7rem] h-auto" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.57813 1L6.07813 5.5L1.57812 10" stroke="#1E383E" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </div>

        <div class="col-span-4 hidden s:flex justify-end">
            <a class="relative inline-flex space-x-8 items-center justify-center text-12 font-medium leading-none tracking-[0.12rem] text-white py-15 px-25 bg-green uppercase" href="{{ item.link.url|default('/blog') }}" target="{{ item.link.target|default('_self') }}">
                <span class="inline-flex">
                    See all
                </span>
                <span class="inline-flex">
                    <svg class="w-8 h-11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_5001_23171)">
                            <path d="M1.73438 1L6.23438 5.5L1.73438 10" stroke="#7A7871" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_5001_23171">
                                <rect width="7" height="11" fill="white" transform="translate(0.734375)"/>
                            </clipPath>
                        </defs>
                    </svg>
                </span>
            </a>
        </div>

    </div>

    <div class="site-max pb-80 s:pb-160 site-grid items-end">
        
        <div class="relative col-span-full" data-posts-container role="region" aria-live="polite">
            {% for cat_slug, cat_data in posts_by_category %}
                <div class="site-grid site-max grid-layout-newsroom {{ loop.first ? '' : 'absolute inset-0' }}" 
                    data-category="{{ cat_slug }}" 
                    id="category-{{ cat_slug }}"
                    role="tabpanel"
                    aria-labelledby="filter-{{ cat_slug }}"
                    aria-hidden="{{ loop.first ? 'false' : 'true' }}">
                    {% for article in cat_data.posts %}
                        {% set post = article.news_post %}
                        {% set feature_content = article.feature_content %}
                        {% set bg_color = feature_content.background_color|default('grey')|lower %}

                        {% if feature_content.feature_image %}
                            {% set text_color = 'text-white' %}
                        {% else %}
                            {% set text_color_map = {
                                'grey-taupe': 'text-black',
                                'black': 'text-grey-taupe',
                                'yellow': 'text-black',
                                'green': 'text-white-smoke'
                            } %}
                            {% set text_color = text_color_map[bg_color] %}
                        {% endif %}

                        <article class="column w-full relative group overflow-hidden text-white" 
                                data-post-item
                                data-post-id="{{ post.ID }}"
                                data-item-category="{{ cat_slug }}">

                            <a class="column-inner overflow-hidden block w-full h-full relative {{ text_color }} block" 
                            href="{{ function('get_permalink', post.ID) }}"
                            aria-label="Read more about {{ post.post_title }}">
                                
                                <div class="absolute inset-0 z-1 bg-green">
                                    <figure class="relative overflow-hidden w-full h-full pointer-events-none select-none">
                                        {% if feature_content.feature_image %}
                                            {% include "blocks/common/image.twig" with {
                                                props : {
                                                    data: {
                                                        image : feature_content.feature_image
                                                    },
                                                    options: {
                                                        container_class: 'w-full h-full overflow-hidden pointer-events-none select-none',
                                                        class : 'w-full h-full object-cover pointer-events-none select-none',
                                                        aspect_ratio: '102%',
                                                        aspect_ratio_mobile: '102%',
                                                    }
                                                }
                                            } %}
                                        {% elseif post.post_thumbnail %}
                                            {% set thumb_id = function('get_post_thumbnail_id', post.ID) %}
                                            {% set thumb_url = function('wp_get_attachment_image_src', thumb_id, 'large') %}
                                            {% if thumb_url %}
                                                <img src="{{ thumb_url[0] }}" 
                                                    alt="{{ post.post_title }}" 
                                                    class="w-full h-full object-cover">
                                            {% endif %}
                                        {% else %}
                                            <div class="pt-[102%] bg-{{ bg_color }}" aria-hidden="true"></div>
                                        {% endif %}
                                    </figure>
                                </div>

                                <div class="absolute inset-0 p-24 z-2 w-full h-full flex flex-col justify-between">
                                    <div class="relative flex items-center justify-between w-full font-sans text-12 font-medium leading-none tracking-[0.12rem] uppercase">
                                        <div class="relative">
                                            <p class="uppercase" data-post-category>{{ cat_data.category.name }}</p>
                                        </div>

                                        <div class="relative">
                                            <time datetime="{{ post.post_date|date('Y-m-d') }}" data-post-date>
                                                {{ post.post_date|date('m.d.Y') }}
                                            </time>
                                        </div>
                                    </div>

                                    <div class="relative flex items-end justify-between w-full">
                                        <div class="relative">
                                            <h4 class="column-title font-sans text-20 font-normal" data-post-title>
                                                {{ post.post_title }}
                                            </h4>
                                        </div>
                                        
                                        <div class="relative top-15 left-25 ml-auto">
                                            <button class="column-link-full relative inline-flex space-x-8 items-center justify-center text-12 font-medium leading-none tracking-[0.12rem] py-15 px-25 uppercase" type="button" aria-label="See more">
                                                <span class="column-link-text hidden s:inline-flex">
                                                    See more
                                                </span>
                                                <span class="column-link-arrow hidden s:inline-flex">
                                                    <svg class="w-8 h-11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M1.73438 1L6.23438 5.5L1.73438 10" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    </svg>
                                                </span>
                                                <svg class="column-link-arrow block s:hidden w-8 h-11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1.73438 1L6.23438 5.5L1.73438 10" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </button>

                                            <button class="column-link-simple relative inline-flex space-x-8 items-center justify-center text-12 font-medium leading-none tracking-[0.12rem] py-15 px-25 uppercase">
                                                <svg class="w-8 h-11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M1.73438 1L6.23438 5.5L1.73438 10" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"></path>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                
                            </a>

                        </article>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>