<section class="relative bg-white">
    {# <pre>{{ item|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre> #}

    <div class="site-max pt-80 s:pt-160 border-t border-solid border-grey-taupe">
        <div class="site-grid items-center">
            <div class="s:col-start-1 col-span-full s:col-span-8">
                <h2 class="text-green text-40 font-normal leading-none tracking-[-0.1rem]">{{ item.title }}</h2>
            </div>

            <div class="s:col-start-12 col-span-full s:col-span-5">
                <div class="recruiting-text-p-wysiwyg text-green text-20 font-normal leading-[1.3] space-y-20">{{ item.description}}</div>
            </div>
        </div>

        <div class="site-grid pt-32 s:pt-64 gap-16 s:gap-0">
            {% for item in item.accommodations %}
                <article class="relative col-span-full s:col-span-8">
                    <div class="relative w-full h-full text-white">
                        <figure class="relative w-full h-full">
                            {% include "blocks/common/image.twig" with {
                                props : {
                                    data: {
                                        image : item.image,

                                    },
                                    options: {
                                        container_class: 'w-full relative',
                                        class : 'w-full relative h-full object-cover',
                                        aspect_ratio: '105%',
                                        aspect_ratio_mobile: '150%',
                                    }
                                }
                            } %}
                        </figure>

                        <div class="absolute bottom-0 left-0 p-16 s:p-32 space-y-20">
                            {% if item.title %}
                                <h4 class="text-32 font-normal leading-[1.16] tracking-[-0.032rem]">{{ item.title }}</h4>
                            {% endif %}

                            {% if item.description %}
                                <p class="text-16 font-normal leading-[1.32]">{{ item.description }}</p>
                            {% endif %}

                            {% if item.link %}
                                <div class="relative col-span-full s:col-start-2 s:col-span-3">
                                    <a class="relative inline-flex space-x-8 items-center justify-center text-12 font-medium leading-none tracking-[0.12rem] text-green py-15 px-25 bg-white uppercase" href="{{ item.link.url }}" target="{{ item.link.target }}">
                                        <span class="inline-flex">
                                            {{ item.link.title }}
                                        </span>
                                        <span class="inline-flex">
                                            <svg class="w-8 h-11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_5001_23171)">
                                                    <path d="M1.73438 1L6.23438 5.5L1.73438 10" stroke="#7A7871" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_5001_23171">
                                                        <rect width="7" height="11" fill="white" transform="translate(0.734375)"/>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
</section>