<div class="relative flex gap-x-[2px] text-grey items-center">
    {% if post.contact_info.phone %}
        <a 
            class="relative h-[3.8rem] bg-grey-taupe transition-colors duration-300 group hover:bg-black py-12 px-16 flex items-center space-x-8 text-12 font-medium leading-none tracking-[0.12rem] uppercase" 
            href="{{ post.contact_info.phone.url }}" 
            target="_blank"
            aria-label="Phone of {{ post.post_title }}"
        >
            <span class="inline-flex">
                <svg class="w-[0.9em] fill-grey h-auto group-hover:fill-white transition-colors duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.35 14.7">
                    <path d="M7.53,14.7H2.82c-1.56,0-2.82-1.27-2.82-2.82V2.82C0,1.27,1.27,0,2.82,0h4.71c1.56,0,2.82,1.27,2.82,2.82v9.05c0,1.56-1.27,2.82-2.82,2.82ZM2.82,1.3c-.84,0-1.52.68-1.52,1.52v9.05c0,.84.68,1.52,1.52,1.52h4.71c.84,0,1.52-.68,1.52-1.52V2.82c0-.84-.68-1.52-1.52-1.52H2.82ZM5.9,12.16h-1.45c-.36,0-.65-.29-.65-.65s.29-.65.65-.65h1.45c.36,0,.65.29.65.65s-.29.65-.65.65Z"/>
                </svg>
            </span>

            {% if post.contact_info.phone.title %}
                <span class="inline-flex group-hover:text-white transition-colors duration-300">{{ post.contact_info.phone.title }}</span>
            {% endif %}
        </a>
    {% endif %}

    {% if post.contact_info.email %}
        <a 
            class="relative h-[3.8rem] bg-grey-taupe transition-colors duration-300 group hover:bg-black py-12 px-16 flex items-center space-x-8 text-12 font-medium leading-none tracking-[0.12rem] uppercase" 
            href="mailto:{{ post.contact_info.email }}" 
            target="_blank"
            aria-label="Email of {{ post.post_title }}">
            <span class="inline-flex">
                <svg class="w-auto fill-grey h-[1.1em] group-hover:fill-white transition-colors duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.65 11.73">
                    <path d="M9.55,0H3.1C1.39,0,0,1.39,0,3.1v5.52c0,1.71,1.39,3.1,3.1,3.1h6.44c1.71,0,3.1-1.39,3.1-3.1V3.1c0-1.71-1.39-3.1-3.1-3.1ZM5.43,5.13h0S1.33,2.78,1.33,2.78c.15-.84.88-1.48,1.77-1.48h6.44c.89,0,1.62.64,1.77,1.48l-4.1,2.35h0c-.27.16-.58.24-.89.24s-.62-.08-.89-.24M9.55,10.43H3.1c-1,0-1.8-.81-1.8-1.8v-4.36l3.47,1.99h0s0,0,0,0c.47.27,1,.41,1.54.41s1.07-.14,1.54-.41h0s3.49-1.99,3.49-1.99v4.36c0,1-.81,1.8-1.8,1.8Z"/>
                </svg>
            </span>
        </a>
    {% endif %}

    {% if post.contact_info.linkedin %}
        <a href="{{ post.contact_info.linkedin }}" target="_blank" class="relative h-[3.8rem] bg-grey-taupe transition-colors duration-300 group hover:bg-black py-12 px-16 flex items-center space-x-8 text-12 font-medium leading-none tracking-[0.12rem] uppercase" >
            <span class="inline-flex">
                <svg class="shrink-0 fill-grey w-[1.4em] group-hover:fill-white transition-colors duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.82 14">
                    <path d="M1.55,3.11c.41,0,.81-.16,1.1-.45s.46-.69.46-1.1c0-.41-.16-.81-.45-1.1C2.36.16,1.97,0,1.56,0,1.14,0,.75.16.46.45.16.75,0,1.14,0,1.55s.16.81.45,1.1c.29.29.69.46,1.1.46Z"/>
                    <rect x=".05" y="4.26" width="3.11" height="9.73"/>
                    <path d="M8.04,5.57l.03-1.31h-3.09v9.73h3.06v-5.11c0-2.85,3.71-3.11,3.71,0v5.11h3.07v-6.17c0-4.8-5.49-4.62-6.78-2.26Z"/>
                </svg>
            </span>
        </a>
    {% endif %}
</div>

<div class="relative flex gap-2 text-grey">
    {% if post.contact_info.vcard %}
        <a 
            class="relative h-[3.8rem] bg-grey-taupe transition-colors duration-300 group hover:bg-black py-12 px-16 flex items-center space-x-8 text-12 font-medium leading-none tracking-[0.12rem] uppercase" 
            href="{{ post.contact_info.vcard }}" 
            target="_blank"
            aria-label="VCard of {{ post.post_title }}"
        >
            <span class="inline-flex">
                <svg class="w-[1.3em] fill-grey h-auto group-hover:fill-white transition-colors duration-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.36 14.7">
                    <path d="M11.37,14.7H1.99c-1.1,0-1.99-.89-1.99-1.99V3.33c0-1.1.89-1.99,1.99-1.99h1.36v-.69c0-.36.29-.65.65-.65s.65.29.65.65v.69h4.06v-.69c0-.36.29-.65.65-.65s.65.29.65.65v.69h1.36c1.1,0,1.99.89,1.99,1.99v9.38c0,1.1-.89,1.99-1.99,1.99ZM10.68,13.4h.69c.38,0,.69-.31.69-.69V3.33c0-.38-.31-.69-.69-.69H1.99c-.38,0-.69.31-.69.69v9.38c0,.38.31.69.69.69h.69v-.69c0-.53.21-1.03.58-1.41.38-.38.88-.58,1.41-.58h4.02c.53,0,1.03.21,1.41.58.38.38.58.88.58,1.41v.69ZM3.98,13.4h5.4v-.69c0-.18-.07-.36-.2-.49-.13-.13-.3-.2-.49-.2h-4.02c-.18,0-.36.07-.49.2-.13.13-.2.3-.2.49v.69ZM6.68,9.34c-1.47,0-2.66-1.19-2.66-2.66s1.19-2.66,2.66-2.66,2.66,1.19,2.66,2.66-1.19,2.66-2.66,2.66ZM6.68,5.32c-.75,0-1.36.61-1.36,1.36s.61,1.36,1.36,1.36,1.36-.61,1.36-1.36-.61-1.36-1.36-1.36Z"/>
                </svg>
            </span>

            <span class="inline-flex group-hover:text-white transition-colors duration-300">VCARD</span>
        </a>
    {% endif %}
</div>
