<section class="relative">
    <div class="relative h-screen h-[78.6rem]">
        <div class="relative w-full h-full flex">
            <div class="relative w-1/2 h-full">
                {% if post.feature_media.image %}
                    <figure class="relative w-full h-full">
                        {% include "blocks/common/image.twig" with {
                            props : {
                                data: {
                                    image : post.feature_media.image
                                },
                                options: {
                                    container_class: 'w-full h-full overflow-hidden',
                                    class : 'w-full h-full object-cover',
                                }
                            }
                        } %}
                    </figure>
                {% endif %}
            </div>

            <div class="relative w-1/2 h-full">
                <div class="relative w-full h-1/2 bg-grey text-grey-taupe">
                    <div class="relative w-full h-full flex flex-col items-center justify-center">
                        <div class="relative flex flex-col items-center justify-center space-y-32">
                            {% if post.feature_content.pronouns %}
                                <p class="text-center font-medium text-12 leading-none tracking-[10%] uppercase">{{ post.feature_content.pronouns }}</p>
                            {% endif %}

                            {% if post.feature_content.first_name and post.feature_content.last_name %}
                                <h1 class="relative flex flex-col items-center justify-center font-disp font-normal text-center text-64 leading-[1.1] tracking-[-2%]">
                                    <span>{{ post.feature_content.first_name }}</span>
                                    <span>{{ post.feature_content.last_name }}</span>
                                </h1>
                            {% endif %}

                            {% if post.team_categories %}
                                <ul class="flex flex-wrap gap-12">
                                    {% for category in post.team_categories %}
                                        <li class="inline-flex">
                                            <p class="text-center font-medium text-12 leading-none tracking-[10%] uppercase">{{ category.name }}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                        <div class="relative s:-bottom-40 w-full flex items-center justify-between px-24">
                            <div class="relative flex gap-2 text-grey">
                                {% if post.contact_info.phone %}
                                    <a 
                                        class="relative max-h-[3.8rem] h-full bg-grey-taupe py-12 px-16 flex items-center space-x-8 text-12 font-medium leading-none tracking-[0.12rem] uppercase" 
                                        href="{{ post.contact_info.phone }}" 
                                        target="_blank"
                                        aria-label="Phone of {{ post.post_title }}"
                                    >
                                        <span class="inline-flex">
                                            <svg class="w-[1.1rem] h-auto" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4.66917 11.8628H6.11754M3.03975 1H7.74696C8.94684 1 9.91953 1.97269 9.91953 3.17256V12.2249C9.91953 13.4248 8.94684 14.3975 7.74696 14.3975H3.03975C1.83988 14.3975 0.867188 13.4248 0.867188 12.2249V3.17256C0.867188 1.97269 1.83988 1 3.03975 1Z" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </span>

                                        <span class="inline-flex">{{ post.contact_info.phone }}</span>
                                    </a>
                                {% endif %}

                                {% if post.contact_info.email %}
                                    <a 
                                        class="relative max-h-[3.8rem] h-full bg-grey-taupe py-12 px-16 flex items-center space-x-8 text-12 font-medium leading-none tracking-[0.12rem] uppercase" 
                                        href="mailto:{{ post.contact_info.email }}" 
                                        target="_blank"
                                        aria-label="Email of {{ post.post_title }}">
                                        <span class="inline-flex">
                                            <svg class="w-auto h-[1.6rem]" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.27164 3.42971C0.960193 3.25119 0.562992 3.35894 0.384467 3.67039C0.205941 3.98183 0.313696 4.37903 0.625142 4.55756L1.27164 3.42971ZM5.36874 6.52744L5.69497 5.96522L5.69199 5.96351L5.36874 6.52744ZM6.58809 6.85559V7.50559V6.85559ZM7.80744 6.52744L7.48486 5.96311L7.48121 5.96523L7.80744 6.52744ZM12.5626 4.55795C12.8743 4.37979 12.9825 3.98272 12.8044 3.67106C12.6262 3.3594 12.2291 3.25117 11.9175 3.42933L12.5626 4.55795ZM3.3736 2.13437H9.81546V0.834375H3.3736V2.13437ZM9.81546 2.13437C10.8118 2.13437 11.6195 2.94207 11.6195 3.93842H12.9195C12.9195 2.2241 11.5298 0.834375 9.81546 0.834375V2.13437ZM11.6195 3.93842V9.46002H12.9195V3.93842H11.6195ZM11.6195 9.46002C11.6195 10.4564 10.8118 11.2641 9.81546 11.2641V12.5641C11.5298 12.5641 12.9195 11.1743 12.9195 9.46002H11.6195ZM9.81546 11.2641H3.3736V12.5641H9.81546V11.2641ZM3.3736 11.2641C2.37725 11.2641 1.56956 10.4564 1.56956 9.46002H0.269556C0.269556 11.1743 1.65928 12.5641 3.3736 12.5641V11.2641ZM1.56956 9.46002V3.93842H0.269556V9.46002H1.56956ZM1.56956 3.93842C1.56956 2.94207 2.37725 2.13437 3.3736 2.13437V0.834375C1.65928 0.834375 0.269556 2.2241 0.269556 3.93842H1.56956ZM0.625142 4.55756L5.04549 7.09136L5.69199 5.96351L1.27164 3.42971L0.625142 4.55756ZM5.04251 7.08964C5.51203 7.36209 6.04524 7.50559 6.58809 7.50559V6.20559C6.2744 6.20559 5.96629 6.12267 5.69497 5.96523L5.04251 7.08964ZM6.58809 7.50559C7.13094 7.50559 7.66415 7.36209 8.13368 7.08964L7.48121 5.96523C7.20989 6.12267 6.90178 6.20559 6.58809 6.20559V7.50559ZM8.13002 7.09175L12.5626 4.55795L11.9175 3.42933L7.48487 5.96313L8.13002 7.09175Z" fill="currentColor"/>
                                            </svg>
                                        </span>
                                    </a>
                                {% endif %}

                                {% if post.contact_info.linkedin %}
                                    <a href="{{ post.contact_info.linkedin }}" target="_blank" class="relative max-h-[3.8rem] h-full bg-grey-taupe py-12 px-16 flex items-center space-x-8 text-12 font-medium leading-none tracking-[0.12rem] uppercase" >
                                        <svg class="shrink-0 w-[1.7rem] h-[2.3rem]" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4.71142 1.55571C4.71122 1.9681 4.5472 2.36352 4.25544 2.65498C3.96369 2.94644 3.56811 3.11007 3.15572 3.10986C2.74332 3.10965 2.3479 2.94563 2.05644 2.65388C1.76498 2.36213 1.60136 1.96655 1.60156 1.55415C1.60177 1.14176 1.76579 0.746339 2.05754 0.454879C2.34929 0.163419 2.74488 -0.000206002 3.15727 1.94647e-07C3.56966 0.000206391 3.96508 0.164227 4.25654 0.455978C4.548 0.74773 4.71163 1.14331 4.71142 1.55571ZM4.75807 4.26129H1.64821V13.9951H4.75807V4.26129ZM9.67165 4.26129H6.57734V13.9951H9.64055V8.8872C9.64055 6.04168 13.3491 5.77734 13.3491 8.8872V13.9951H16.42V7.82985C16.42 3.03289 10.9311 3.21171 9.64055 5.56743L9.67165 4.26129Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                {% endif %}
                            </div>

                            <div class="relative flex gap-2 text-grey">
                                {% if post.contact_info.vcard %}
                                    <a 
                                        class="relative max-h-[3.8rem] h-full bg-grey-taupe py-12 px-16 flex items-center space-x-8 text-12 font-medium leading-none tracking-[0.12rem] uppercase" 
                                        href="{{ post.contact_info.vcard }}" 
                                        target="_blank"
                                        aria-label="VCard of {{ post.post_title }}"
                                    >
                                        <span class="inline-flex">
                                            <svg class="w-[1.1rem] h-auto" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4.66917 11.8628H6.11754M3.03975 1H7.74696C8.94684 1 9.91953 1.97269 9.91953 3.17256V12.2249C9.91953 13.4248 8.94684 14.3975 7.74696 14.3975H3.03975C1.83988 14.3975 0.867188 13.4248 0.867188 12.2249V3.17256C0.867188 1.97269 1.83988 1 3.03975 1Z" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </span>

                                        <span class="inline-flex">VCARD</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="absolute top-0 -right-20">
                        <svg class="w-[30rem] h-auto" viewBox="0 0 433 561" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_3285_21347)">
                                <path d="M755.437 277.169L663.053 314.432C699.791 363.501 724.426 420.369 724.426 492.944C724.426 653.8 593.899 784.651 433.443 784.651C272.986 784.651 142.46 653.8 142.46 492.944C142.46 395.889 199.835 322.447 288.978 239.907L370.232 311.074C305.618 369.892 268.34 429.468 268.34 499.443C268.34 590.758 342.463 664.957 433.443 664.957C524.422 664.957 598.546 590.649 598.546 499.443C598.546 420.153 548.95 355.702 505.622 314.432C575.855 248.681 679.369 150.543 679.369 0.0853577C679.369 -43.0262 672.237 -84.4047 659.271 -123.183H554.677C572.181 -85.7046 582.014 -44.0011 582.014 0.0853577C582.014 97.1406 524.638 170.582 435.496 253.122L354.241 181.956C418.856 123.138 456.134 63.5612 456.134 -6.41389C456.134 -97.7281 382.01 -171.928 291.031 -171.928C200.051 -171.928 125.928 -97.6198 125.928 -6.41389C125.928 72.8768 175.524 137.328 218.852 178.598C148.619 244.348 45.105 342.487 45.105 492.944C45.105 707.635 219.284 882.248 433.443 882.248C647.602 882.248 821.781 707.635 821.781 492.944C821.781 404.121 793.255 333.496 755.437 277.061V277.169ZM433.335 366.534C458.727 389.389 513.077 445.175 513.077 505.509C513.077 549.596 477.312 585.45 433.335 585.45C389.358 585.45 353.593 549.596 353.593 505.509C353.593 445.175 407.943 389.281 433.335 366.534ZM211.289 -12.4798C211.289 -56.5663 247.054 -92.4204 291.031 -92.4204C335.008 -92.4204 370.773 -56.5663 370.773 -12.4798C370.773 47.8547 316.423 103.748 291.031 126.495C265.639 103.64 211.289 47.8547 211.289 -12.4798Z" fill="#fff" fill-opacity="0.03"/>
                                <path d="M-3356.69 -150.697C-3675.76 -150.697 -3814.29 105.265 -3814.29 357.11C-3814.29 608.955 -3675.76 856.684 -3356.69 856.684C-3037.61 856.684 -2903.19 607.547 -2903.19 357.11C-2903.19 106.673 -3040.31 -150.697 -3356.69 -150.697ZM-3356.69 746.414C-3582.08 746.414 -3679.87 551.762 -3679.87 357.11C-3679.87 162.458 -3582.08 -40.4265 -3356.69 -40.4265C-3131.29 -40.4265 -3037.61 159.642 -3037.61 357.11C-3037.61 554.578 -3133.99 746.414 -3356.69 746.414Z" fill="#fff" fill-opacity="0.03"/>
                                <path d="M-2385.84 490.453C-2385.84 606.139 -2392.65 648.384 -2429.28 693.229C-2460.51 731.358 -2494.43 753.13 -2550.08 753.13C-2612.53 753.13 -2649.16 724.533 -2664.18 701.353C-2685.9 671.456 -2691.3 634.627 -2691.3 542.122V178.489H-2812.11V542.122C-2812.11 655.1 -2806.7 706.877 -2764.56 763.962C-2718.42 826.571 -2647.76 849.752 -2584.01 849.752C-2469.91 849.752 -2399.35 780.318 -2384.44 727.241V833.396H-2266.34V178.489H-2385.84V490.453Z" fill="#fff" fill-opacity="0.03"/>
                                <path d="M-1077.34 161.05C-1274.21 161.05 -1377.4 327.105 -1377.4 506.809C-1377.4 686.513 -1282.31 849.86 -1062.42 849.86C-907.586 849.86 -807.099 730.058 -788.19 640.26L-903.589 615.78C-917.203 678.389 -964.746 755.946 -1067.94 755.946C-1199.65 755.946 -1254 642.968 -1255.3 535.406H-780.086C-778.789 529.99 -778.789 519.049 -778.789 509.517C-778.789 310.749 -887.381 161.05 -1077.55 161.05H-1077.34ZM-1253.89 441.492C-1253.89 339.345 -1190.03 254.964 -1077.34 254.964C-964.638 254.964 -904.885 352.994 -904.885 441.492H-1253.89Z" fill="#fff" fill-opacity="0.03"/>
                                <path d="M-182.344 246.84C-228.482 184.23 -299.147 161.05 -362.898 161.05C-477 161.05 -551.664 230.483 -566.575 283.56V178.598H-684.676V833.504H-563.874V520.457C-563.874 414.303 -557.067 362.526 -521.734 317.681C-491.912 279.552 -452.473 257.78 -396.826 257.78C-335.669 257.78 -297.743 286.377 -282.724 309.449C-261.005 339.345 -255.603 376.174 -255.603 468.68V833.504H-136.098V468.68C-136.098 355.702 -140.203 303.925 -182.235 246.84H-182.344Z" fill="#fff" fill-opacity="0.03"/>
                                <path d="M-1561.19 4.30984V-123.183L-1681.99 -74.4392V178.598H-1948.66V-123.183L-2069.47 -74.4392V178.489H-2195.78V275.111H-2069.47V687.704C-2069.47 793.859 -2005.61 842.928 -1903.82 842.928C-1863.09 842.928 -1829.16 836.104 -1810.14 831.987V735.365C-1830.56 739.482 -1854.98 742.19 -1875.3 742.19C-1922.84 742.19 -1948.66 721.825 -1948.66 659.108V275.111H-1681.99V687.704C-1681.99 793.859 -1618.13 842.928 -1516.35 842.928C-1475.61 842.928 -1441.69 836.104 -1422.67 831.987V735.365C-1443.09 739.482 -1467.51 742.19 -1487.82 742.19C-1535.37 742.19 -1561.19 721.825 -1561.19 659.108V275.111H-1422.67V178.489H-1561.19V4.20154V4.30984Z" fill="#fff" fill-opacity="0.03"/>
                                <path d="M2245.36 161.05C2040.28 161.05 1928.99 338.046 1928.99 506.809C1928.99 675.573 2040.28 849.86 2245.36 849.86C2450.44 849.86 2560.33 674.273 2560.33 506.809C2560.33 339.345 2449.04 161.05 2245.36 161.05ZM2245.36 753.238C2113.65 753.238 2051.19 625.312 2051.19 506.809C2051.19 388.306 2113.65 257.672 2245.36 257.672C2377.08 257.672 2436.83 388.306 2436.83 506.809C2436.83 625.312 2375.67 753.238 2245.36 753.238Z" fill="#fff" fill-opacity="0.03"/>
                                <path d="M3888.72 161.05C3691.85 161.05 3588.66 327.105 3588.66 506.809C3588.66 686.513 3683.75 849.86 3903.63 849.86C4058.47 849.86 4158.96 730.058 4177.87 640.26L4062.47 615.78C4048.85 678.389 4001.31 755.946 3898.12 755.946C3766.41 755.946 3712.06 642.968 3710.76 535.406H4185.97C4187.27 529.99 4187.27 519.049 4187.27 509.517C4187.27 310.749 4078.67 161.05 3888.5 161.05H3888.72ZM3712.16 441.492C3712.16 339.345 3776.02 254.964 3888.72 254.964C4001.42 254.964 4061.17 352.994 4061.17 441.492H3712.16Z" fill="#fff" fill-opacity="0.03"/>
                                <path d="M4783.71 246.84C4737.57 184.23 4666.91 161.05 4603.16 161.05C4489.06 161.05 4414.39 230.483 4399.48 283.56V178.598H4281.38V833.504H4402.18V520.457C4402.18 414.303 4408.99 362.526 4444.32 317.681C4474.14 279.552 4513.58 257.78 4569.23 257.78C4630.39 257.78 4668.31 286.377 4683.33 309.449C4705.05 339.345 4710.45 376.174 4710.45 468.68V833.504H4829.96V468.68C4829.96 355.702 4825.85 303.925 4783.82 246.84H4783.71Z" fill="#fff" fill-opacity="0.03"/>
                                <path d="M2654.01 833.504H2774.92V-171.928L2654.01 -123.183V833.504Z" fill="#fff" fill-opacity="0.03"/>
                                <path d="M1405.26 419.719H1710.83C1705.43 667.448 1551.99 746.414 1422.98 746.414C1208.39 746.414 1101.2 564.002 1101.2 352.994C1101.2 141.985 1218.01 -40.4265 1422.98 -40.4265C1556.1 -40.4265 1642.97 39.839 1687.81 143.393L1809.27 94.3242C1744.65 -46.4925 1614.77 -150.697 1422.98 -150.697C1133.73 -150.697 966.786 84.792 966.786 352.994C966.786 621.196 1127.03 856.684 1417.58 856.684C1572.42 856.684 1661.99 785.951 1713.64 694.745V833.612H1835.85V314.54H1405.37V419.719H1405.26Z" fill="#fff" fill-opacity="0.03"/>
                                <path d="M3370.94 274.028C3343.81 214.127 3259.64 161.05 3175.36 161.05C2947.27 161.05 2868.5 362.526 2868.5 506.809C2868.5 638.852 2939.05 849.86 3169.96 849.86C3256.83 849.86 3349.22 798.083 3375.04 734.174V833.504H3491.85V-171.928L3371.04 -123.183V274.028H3370.94ZM3187.57 753.238C3045.05 753.238 2990.7 608.955 2990.7 505.509C2990.7 384.407 3053.16 257.78 3192.98 257.78C3258.13 257.78 3373.53 306.741 3373.53 506.917C3373.53 707.094 3258.13 753.347 3187.46 753.347L3187.57 753.238Z" fill="#fff" fill-opacity="0.03"/>
                            </g>
                        </svg>
                    </div>
                </div>

                <div class="relative w-full h-1/2 bg-white-smoke">
                    <div class="relative w-full h-full py-90 px-100 flex flex-col items-center justify-center">
                        <div class="flex items-center justify-center">
                            {% for item in post.feature_content.testimonials %}
                                <article class="relative flex flex-col items-center justify-center space-y-[2.4rem]">
                                    <p class="text-center text-black font-disp font-normal italic text-32 leading-[1.15] tracking-[-2%]">{{ item.description }}</p>
                                    <div class="relative w-[2.4rem] h-1 bg-[#29292933]"></div>
                                    <p class="text-center font-normal text-[#29292980] text-20 leading-[1.24] tracking-[-2%]">{{ item.staff_name }}</p>
                                </article>
                            {% endfor %}
                        </div>


                        <div class="relative flex gap-4 mt-50">
                            {% for item in post.feature_content.testimonials %}
                                <div class="relative w-[1.6rem] h-1 bg-[#29292933]"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>