<section class="relative">
    <div class="relative h-screen h-[78.6rem]">
        <div class="relative w-full h-full flex">
            <div class="relative w-1/2 h-full">
                {% if post.feature_media.image %}
                    <figure class="relative w-full h-full">
                        {% include "blocks/common/image.twig" with {
                            props : {
                                data: {
                                    image : post.feature_media.image
                                },
                                options: {
                                    container_class: 'w-full h-full overflow-hidden',
                                    class : 'w-full h-full object-cover',
                                }
                            }
                        } %}
                    </figure>
                {% endif %}
            </div>

            <div class="relative w-1/2 h-full">
                <div class="relative w-full h-1/2 bg-grey text-grey-taupe">
                    <div class="relative w-full h-full flex flex-col items-center justify-center">
                        <div class="relative flex flex-col items-center justify-center space-y-32">
                            {% if post.feature_content.pronouns %}
                                <p class="text-center font-medium text-12 leading-none tracking-[10%] uppercase">{{ post.feature_content.pronouns }}</p>
                            {% endif %}

                            {% if post.feature_content.first_name and post.feature_content.last_name %}
                                <h1 class="relative flex flex-col items-center justify-center font-disp font-normal text-center text-64 leading-[1.1] tracking-[-2%]">
                                    <span>{{ post.feature_content.first_name }}</span>
                                    <span>{{ post.feature_content.last_name }}</span>
                                </h1>
                            {% endif %}

                            {% if post.team_categories %}
                                <ul class="flex flex-wrap gap-12">
                                    {% for category in post.team_categories %}
                                        <li class="inline-flex">
                                            <p class="text-center font-medium text-12 leading-none tracking-[10%] uppercase">{{ category.name }}</p>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>

                        <div class="relative s:-bottom-40 w-full flex items-center justify-between px-24">
                            <div class="relative flex gap-2 text-grey">
                                {% if post.contact_info.phone %}
                                    <a 
                                        class="relative max-h-[3.8rem] h-full bg-grey-taupe py-12 px-16 flex items-center space-x-8 text-12 font-medium leading-none tracking-[0.12rem] uppercase" 
                                        href="{{ post.contact_info.phone }}" 
                                        target="_blank"
                                        aria-label="Phone of {{ post.post_title }}"
                                    >
                                        <span class="inline-flex">
                                            <svg class="w-[1.1rem] h-auto" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4.66917 11.8628H6.11754M3.03975 1H7.74696C8.94684 1 9.91953 1.97269 9.91953 3.17256V12.2249C9.91953 13.4248 8.94684 14.3975 7.74696 14.3975H3.03975C1.83988 14.3975 0.867188 13.4248 0.867188 12.2249V3.17256C0.867188 1.97269 1.83988 1 3.03975 1Z" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </span>

                                        <span class="inline-flex">{{ post.contact_info.phone }}</span>
                                    </a>
                                {% endif %}

                                {% if post.contact_info.email %}
                                    <a 
                                        class="relative max-h-[3.8rem] h-full bg-grey-taupe py-12 px-16 flex items-center space-x-8 text-12 font-medium leading-none tracking-[0.12rem] uppercase" 
                                        href="mailto:{{ post.contact_info.email }}" 
                                        target="_blank"
                                        aria-label="Email of {{ post.post_title }}">
                                        <span class="inline-flex">
                                            <svg class="w-auto h-[1.6rem]" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.27164 3.42971C0.960193 3.25119 0.562992 3.35894 0.384467 3.67039C0.205941 3.98183 0.313696 4.37903 0.625142 4.55756L1.27164 3.42971ZM5.36874 6.52744L5.69497 5.96522L5.69199 5.96351L5.36874 6.52744ZM6.58809 6.85559V7.50559V6.85559ZM7.80744 6.52744L7.48486 5.96311L7.48121 5.96523L7.80744 6.52744ZM12.5626 4.55795C12.8743 4.37979 12.9825 3.98272 12.8044 3.67106C12.6262 3.3594 12.2291 3.25117 11.9175 3.42933L12.5626 4.55795ZM3.3736 2.13437H9.81546V0.834375H3.3736V2.13437ZM9.81546 2.13437C10.8118 2.13437 11.6195 2.94207 11.6195 3.93842H12.9195C12.9195 2.2241 11.5298 0.834375 9.81546 0.834375V2.13437ZM11.6195 3.93842V9.46002H12.9195V3.93842H11.6195ZM11.6195 9.46002C11.6195 10.4564 10.8118 11.2641 9.81546 11.2641V12.5641C11.5298 12.5641 12.9195 11.1743 12.9195 9.46002H11.6195ZM9.81546 11.2641H3.3736V12.5641H9.81546V11.2641ZM3.3736 11.2641C2.37725 11.2641 1.56956 10.4564 1.56956 9.46002H0.269556C0.269556 11.1743 1.65928 12.5641 3.3736 12.5641V11.2641ZM1.56956 9.46002V3.93842H0.269556V9.46002H1.56956ZM1.56956 3.93842C1.56956 2.94207 2.37725 2.13437 3.3736 2.13437V0.834375C1.65928 0.834375 0.269556 2.2241 0.269556 3.93842H1.56956ZM0.625142 4.55756L5.04549 7.09136L5.69199 5.96351L1.27164 3.42971L0.625142 4.55756ZM5.04251 7.08964C5.51203 7.36209 6.04524 7.50559 6.58809 7.50559V6.20559C6.2744 6.20559 5.96629 6.12267 5.69497 5.96523L5.04251 7.08964ZM6.58809 7.50559C7.13094 7.50559 7.66415 7.36209 8.13368 7.08964L7.48121 5.96523C7.20989 6.12267 6.90178 6.20559 6.58809 6.20559V7.50559ZM8.13002 7.09175L12.5626 4.55795L11.9175 3.42933L7.48487 5.96313L8.13002 7.09175Z" fill="currentColor"/>
                                            </svg>
                                        </span>
                                    </a>
                                {% endif %}

                                {% if post.contact_info.linkedin %}
                                    <a href="{{ post.contact_info.linkedin }}" target="_blank" class="relative max-h-[3.8rem] h-full bg-grey-taupe py-12 px-16 flex items-center space-x-8 text-12 font-medium leading-none tracking-[0.12rem] uppercase" >
                                        <svg class="shrink-0 w-[1.7rem] h-[2.3rem]" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M4.71142 1.55571C4.71122 1.9681 4.5472 2.36352 4.25544 2.65498C3.96369 2.94644 3.56811 3.11007 3.15572 3.10986C2.74332 3.10965 2.3479 2.94563 2.05644 2.65388C1.76498 2.36213 1.60136 1.96655 1.60156 1.55415C1.60177 1.14176 1.76579 0.746339 2.05754 0.454879C2.34929 0.163419 2.74488 -0.000206002 3.15727 1.94647e-07C3.56966 0.000206391 3.96508 0.164227 4.25654 0.455978C4.548 0.74773 4.71163 1.14331 4.71142 1.55571ZM4.75807 4.26129H1.64821V13.9951H4.75807V4.26129ZM9.67165 4.26129H6.57734V13.9951H9.64055V8.8872C9.64055 6.04168 13.3491 5.77734 13.3491 8.8872V13.9951H16.42V7.82985C16.42 3.03289 10.9311 3.21171 9.64055 5.56743L9.67165 4.26129Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                {% endif %}
                            </div>

                            <div class="relative flex gap-2 text-grey">
                                {% if post.contact_info.vcard %}
                                    <a 
                                        class="relative max-h-[3.8rem] h-full bg-grey-taupe py-12 px-16 flex items-center space-x-8 text-12 font-medium leading-none tracking-[0.12rem] uppercase" 
                                        href="{{ post.contact_info.vcard }}" 
                                        target="_blank"
                                        aria-label="VCard of {{ post.post_title }}"
                                    >
                                        <span class="inline-flex">
                                            <svg class="w-[1.1rem] h-auto" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M4.66917 11.8628H6.11754M3.03975 1H7.74696C8.94684 1 9.91953 1.97269 9.91953 3.17256V12.2249C9.91953 13.4248 8.94684 14.3975 7.74696 14.3975H3.03975C1.83988 14.3975 0.867188 13.4248 0.867188 12.2249V3.17256C0.867188 1.97269 1.83988 1 3.03975 1Z" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </span>

                                        <span class="inline-flex">VCARD</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="absolute top-0 -right-20">
                        <svg class="w-[23.6rem] h-auto" viewBox="0 0 216 393" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_4970_16298)">
                                <path d="M377.875 157.515L331.602 176.179C350.003 200.757 362.342 229.24 362.342 265.591C362.342 346.16 296.965 411.7 216.596 411.7C136.228 411.7 70.8506 346.16 70.8506 265.591C70.8506 216.979 99.5885 180.194 144.238 138.852L184.936 174.497C152.572 203.958 133.901 233.798 133.901 268.847C133.901 314.584 171.027 351.748 216.596 351.748C262.166 351.748 299.292 314.529 299.292 268.847C299.292 229.132 274.451 196.85 252.749 176.179C287.927 143.246 339.774 94.0913 339.774 18.7311C339.774 -2.86235 336.202 -23.5878 329.708 -43.011H277.319C286.087 -24.2388 291.012 -3.35065 291.012 18.7311C291.012 67.3436 262.274 104.128 217.625 145.471L176.927 109.825C209.29 80.3648 227.962 50.5245 227.962 15.4758C227.962 -30.2611 190.835 -67.4258 145.266 -67.4258C99.6967 -67.4258 62.5701 -30.2069 62.5701 15.4758C62.5701 55.1905 87.4114 87.4722 109.114 108.143C73.9354 141.076 22.0881 190.231 22.0881 265.591C22.0881 373.125 109.33 460.584 216.596 460.584C323.863 460.584 411.105 373.125 411.105 265.591C411.105 221.102 396.817 185.728 377.875 157.461V157.515ZM216.542 202.276C229.261 213.723 256.483 241.665 256.483 271.885C256.483 293.967 238.569 311.925 216.542 311.925C194.515 311.925 176.602 293.967 176.602 271.885C176.602 241.665 203.824 213.669 216.542 202.276ZM105.325 12.4375C105.325 -9.64423 123.239 -27.6026 145.266 -27.6026C167.293 -27.6026 185.207 -9.64423 185.207 12.4375C185.207 42.6576 157.984 70.6531 145.266 82.0467C132.548 70.5989 105.325 42.6576 105.325 12.4375Z" fill="white" fill-opacity="0.03"/>
                                <path d="M-1681.78 -56.7918C-1841.6 -56.7918 -1910.98 71.4127 -1910.98 197.556C-1910.98 323.698 -1841.6 447.779 -1681.78 447.779C-1521.96 447.779 -1454.64 322.993 -1454.64 197.556C-1454.64 72.118 -1523.32 -56.7918 -1681.78 -56.7918ZM-1681.78 392.548C-1794.68 392.548 -1843.65 295.052 -1843.65 197.556C-1843.65 100.059 -1794.68 -1.56023 -1681.78 -1.56023C-1568.89 -1.56023 -1521.96 98.6487 -1521.96 197.556C-1521.96 296.462 -1570.24 392.548 -1681.78 392.548Z" fill="white" fill-opacity="0.03"/>
                                <path d="M-1195.51 264.343C-1195.51 322.288 -1198.92 343.447 -1217.27 365.909C-1232.91 385.007 -1249.9 395.912 -1277.77 395.912C-1309.05 395.912 -1327.4 381.588 -1334.92 369.978C-1345.8 355.004 -1348.51 336.557 -1348.51 290.223V108.089H-1409.01V290.223C-1409.01 346.811 -1406.31 372.745 -1385.2 401.337C-1362.09 432.697 -1326.7 444.307 -1294.77 444.307C-1237.62 444.307 -1202.28 409.53 -1194.81 382.945V436.115H-1135.65V108.089H-1195.51V264.343Z" fill="white" fill-opacity="0.03"/>
                                <path d="M-540.113 99.354C-638.721 99.354 -690.406 182.527 -690.406 272.536C-690.406 362.545 -642.78 444.361 -532.645 444.361C-455.09 444.361 -404.759 384.355 -395.288 339.378L-453.088 327.116C-459.907 358.476 -483.72 397.322 -535.405 397.322C-601.378 397.322 -628.6 340.734 -629.25 286.859H-391.229C-390.579 284.146 -390.579 278.667 -390.579 273.892C-390.579 174.334 -444.97 99.354 -540.222 99.354H-540.113ZM-628.546 239.82C-628.546 188.658 -596.561 146.393 -540.113 146.393C-483.666 146.393 -453.737 195.494 -453.737 239.82H-628.546Z" fill="white" fill-opacity="0.03"/>
                                <path d="M-91.8351 142.324C-114.944 110.965 -150.339 99.354 -182.27 99.354C-239.421 99.354 -276.818 134.131 -284.287 160.716V108.143H-343.44V436.169H-282.934V279.372C-282.934 226.202 -279.524 200.268 -261.827 177.807C-246.89 158.709 -227.136 147.804 -199.264 147.804C-168.632 147.804 -149.635 162.127 -142.113 173.683C-131.235 188.658 -128.529 207.104 -128.529 253.438V436.169H-68.6716V253.438C-68.6716 196.85 -70.728 170.916 -91.7808 142.324H-91.8351Z" fill="white" fill-opacity="0.03"/>
                                <path d="M-782.464 20.8471V-43.011L-842.971 -18.5963V108.143H-976.539V-43.011L-1037.05 -18.5963V108.089H-1100.31V156.485H-1037.05V363.142C-1037.05 416.312 -1005.06 440.889 -954.08 440.889C-933.676 440.889 -916.682 437.471 -907.157 435.409V387.014C-917.386 389.076 -929.617 390.432 -939.792 390.432C-963.605 390.432 -976.539 380.232 -976.539 348.818V156.485H-842.971V363.142C-842.971 416.312 -810.985 440.889 -760.004 440.889C-739.601 440.889 -722.607 437.471 -713.082 435.409V387.014C-723.311 389.076 -735.542 390.432 -745.716 390.432C-769.529 390.432 -782.464 380.232 -782.464 348.818V156.485H-713.082V108.089H-782.464V20.7928V20.8471Z" fill="white" fill-opacity="0.03"/>
                                <path d="M1124.14 99.354C1021.42 99.354 965.676 188.007 965.676 272.536C965.676 357.065 1021.42 444.361 1124.14 444.361C1226.86 444.361 1281.9 356.414 1281.9 272.536C1281.9 188.658 1226.16 99.354 1124.14 99.354ZM1124.14 395.966C1058.17 395.966 1026.89 331.891 1026.89 272.536C1026.89 213.181 1058.17 147.749 1124.14 147.749C1190.11 147.749 1220.04 213.181 1220.04 272.536C1220.04 331.891 1189.41 395.966 1124.14 395.966Z" fill="white" fill-opacity="0.03"/>
                                <path d="M1947.26 99.354C1848.65 99.354 1796.96 182.527 1796.96 272.536C1796.96 362.545 1844.59 444.361 1954.72 444.361C2032.28 444.361 2082.61 384.355 2092.08 339.378L2034.28 327.116C2027.46 358.476 2003.65 397.322 1951.96 397.322C1885.99 397.322 1858.77 340.734 1858.12 286.859H2096.14C2096.79 284.146 2096.79 278.667 2096.79 273.892C2096.79 174.334 2042.4 99.354 1947.15 99.354H1947.26ZM1858.82 239.82C1858.82 188.658 1890.81 146.393 1947.26 146.393C2003.7 146.393 2033.63 195.494 2033.63 239.82H1858.82Z" fill="white" fill-opacity="0.03"/>
                                <path d="M2395.53 142.324C2372.42 110.965 2337.03 99.354 2305.1 99.354C2247.95 99.354 2210.55 134.131 2203.08 160.716V108.143H2143.93V436.169H2204.44V279.372C2204.44 226.202 2207.84 200.268 2225.54 177.807C2240.48 158.709 2260.23 147.804 2288.1 147.804C2318.74 147.804 2337.73 162.127 2345.26 173.683C2356.13 188.658 2358.84 207.104 2358.84 253.438V436.169H2418.7V253.438C2418.7 196.85 2416.64 170.916 2395.59 142.324H2395.53Z" fill="white" fill-opacity="0.03"/>
                                <path d="M1328.82 436.169H1389.38V-67.4258L1328.82 -43.011V436.169Z" fill="white" fill-opacity="0.03"/>
                                <path d="M703.354 228.915H856.407C853.701 352.996 776.85 392.548 712.23 392.548C604.747 392.548 551.06 301.183 551.06 195.494C551.06 89.8051 609.564 -1.56023 712.23 -1.56023C778.906 -1.56023 822.419 38.6427 844.879 90.5105L905.71 65.9329C873.346 -4.59853 808.294 -56.7918 712.23 -56.7918C567.35 -56.7918 483.734 61.1585 483.734 195.494C483.734 329.829 563.995 447.779 709.524 447.779C787.079 447.779 831.944 412.351 857.814 366.668V436.223H919.023V176.233H703.409V228.915H703.354Z" fill="white" fill-opacity="0.03"/>
                                <path d="M1687.91 155.942C1674.33 125.939 1632.17 99.354 1589.95 99.354C1475.71 99.354 1436.25 200.268 1436.25 272.536C1436.25 338.673 1471.59 444.361 1587.25 444.361C1630.76 444.361 1677.03 418.428 1689.97 386.417V436.169H1748.47V-67.4258L1687.97 -43.011V155.942H1687.91ZM1596.07 395.966C1524.68 395.966 1497.46 323.698 1497.46 271.885C1497.46 211.228 1528.74 147.804 1598.77 147.804C1631.41 147.804 1689.21 172.327 1689.21 272.59C1689.21 372.853 1631.41 396.02 1596.01 396.02L1596.07 395.966Z" fill="white" fill-opacity="0.03"/>
                            </g>
                        </svg>
                    </div>
                </div>

                <div class="relative w-full h-1/2 bg-white-smoke">
                    <div class="relative w-full h-full py-90 px-100 flex flex-col items-center justify-center">
                        <div class="flex items-center justify-center">
                            {% for item in post.feature_content.testimonials %}
                                <article class="relative flex flex-col items-center justify-center space-y-[2.4rem]">
                                    <p class="text-center text-black font-disp font-normal italic text-32 leading-[1.15] tracking-[-2%]">{{ item.description }}</p>
                                    <div class="relative w-[2.4rem] h-1 bg-[#29292933]"></div>
                                    <p class="text-center font-normal text-[#29292980] text-20 leading-[1.24] tracking-[-2%]">{{ item.staff_name }}</p>
                                </article>
                            {% endfor %}
                        </div>


                        <div class="relative flex gap-4 mt-50">
                            {% for item in post.feature_content.testimonials %}
                                <div class="relative w-[1.6rem] h-1 bg-[#29292933]"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>