<div class="w-full relative h-auto s:h-[300vh] mt-0 s:-mt-80">
    <div class="js-tracker flex items-center justify-center size-full">
        <div class="w-full h-full items-center justify-center s:fixed s:top-0 s:left-0 s:right-0">
            <div class="mx-auto relative w-[35rem] s:w-[inherit]">
                <div class="pt-65 s:pt-230 relative pb-65 m:pb-95 flex flex-col items-center justify-center gap-y-30 s:gap-y-40 mx-auto js-t-text">
                    {% if item.subtitle %}
                        <div class="relative">
                            <p class="text-grey text-12 font-medium leading-none tracking-[0.12rem] uppercase">{{ item.subtitle }}</p>
                        </div>
                    {% endif %}

                    {% if item.title %}
                        <div class="relative max-w-[40rem] s:max-w-[102.6rem]">
                            <h1 class="text-center text-32 s:text-76 font-normal leading-[1.1] tracking-[-0.152rem] text-green">{{ item.title }}</h1>
                        </div>
                    {% endif %}

                    {% if item.link %}
                        <div class="relative">
                            <a class="relative inline-flex items-center justify-center text-12 font-medium leading-none tracking-[0.12rem] text-white py-15 px-25 bg-green uppercase" href="{{ item.link.url }}" target="{{ item.link.target }}">{{ item.link.title }}</a>
                        </div>
                    {% endif %}
                </div>

                <div class="mb-80 s:mb-0 w-[35rem] s:w-full rounded-[2.4rem] s:rounded-none overflow-hidden s:overflow-visible flex items-center relative s:absolute s:top-full mx-auto s:left-0 s:right-0 justify-center h-[50rem] s:h-[calc(100vh-8rem)] mt-[-1.25rem] s:mt-0 js-t-screen">
                    <div class="w-full h-full mx-auto">
                        <div class="relative s:absolute s:top-0 s:left-0 w-full h-[105%] flex items-center justify-center js-t-hero-content origin-top-center">
                            {% include "blocks/common/image.twig" with {
                                props : {
                                    data: {
                                        image : item.image
                                    },
                                    options: {
                                        container_class: 'w-full h-full overflow-hidden',
                                        class : 'w-full h-full object-cover',
                                        aspect_ratio: '76.38%',
                                        size: 'hero',
                                    }
                                }
                            } %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>