<section class="relative bg-white-smoke overflow-hidden ">
    {# <pre>{{ item|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre> #}
    
    <div class="site-max site-grid py-120">
        <div class="relative col-start-1 col-span-8 space-y-40 pb-40">
            <div class="relative">
                <h5 class="text-grey text-12 font-medium leading-none tracking-[0.12rem] uppercase">{{ item.subtitle }}</h5>
            </div>
            <div class="relative max-w-[102.6rem] mx-auto">
                <h3 class="text-40 font-normal leading-[1.16] tracking-[-0.04rem] text-green">{{ item.title }}</h3>
            </div>
        </div>

        <div class="relative col-start-1 col-span-full pb-95">
            <div class="flex items-center justify-between">
                <div class="relative flex">
                    <button class="relative flex items-center justify-center w-45 h-45 border-[0.1rem] border-r-0 border-grey-taupe border-solid" type="button">
                        <span class="inline-flex">
                            <svg class="w-7 h-auto" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.75 10L1.25 5.5L5.75 1" stroke="#1E383E" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                    </button>

                    <button class="relative -ml-2 flex items-center justify-center w-45 h-45 border-[0.1rem] border-grey-taupe border-solid" type="button">
                        <span class="inline-flex">
                            <svg class="w-7 h-auto" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.25 1L5.75 5.5L1.25 10" stroke="#1E383E" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                    </button>
                </div>

                <div class="relative">
                    <a class="relative inline-flex space-x-8 items-center justify-center text-12 font-medium leading-none tracking-[0.12rem] text-white py-15 px-25 bg-green uppercase" href="{{ item.link.url }}" target="{{ item.link.target }}">
                        <span class="inline-flex">
                            {{ item.link.title }}
                        </span>
                        <span class="inline-flex">
                            <svg class="w-8 h-11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.73438 1L6.23438 5.5L1.73438 10" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
  
    <div class="relative select-none cursor-grab w-full pb-200 js-slides" data-component="slider(js-slides)">
            <ul class="slider-container flex relative z-1">
                {% for item in item.cases %}
                    <li class="slider-item relative {{ loop.index == 1 ? 'ml-30 min-w-[67.2rem] max-w-[67.2rem]' : 'ml-25 min-w-[44.3rem] max-w-[44.3rem]' }} js-slide">
                        {# Tags #}
                        <div class="absolute top-0 left-0 w-full flex flex-wrap items-center gap-4 p-16 z-2">
                            {% include "/views/partials/tag.twig" with {
                                data: {
                                    text: "Digital Discrimination",
                                    href: "/"
                                }
                            } %}
                        </div>

                        <figure class="relative overflow-hidden w-full">
                            <img
                                class="h-full w-full object-cover select-none pointer-events-none"
                                src="https://placehold.co/600x400"
                                alt=""
                            />
                        </figure>

                        <div class="relative pt-32 space-y-40">
                            <div class="flex flex-wrap items-center gap-4">
                                {# Category #}
                                {% include "/views/partials/category.twig" with {
                                    data: {
                                        text: "Resolved Case",
                                        bgColor: "bg-[#6DA479]",
                                        textColor: "text-green"
                                    }
                                } %}
                            </div>

                            <div class="flex items-center justify-between">
                                <div class="relative">
                                    <h4 class="text-24 font-normal leading-[1.04] tracking-[-0.024rem] text-green">Hayman v. Mastercard</h4>
                                </div>

                                <div class="relative">
                                    <a class="relative inline-flex space-x-8 text-12 font-medium leading-none tracking-[0.12rem] text-green uppercase" href="{{ item.link.url }}" target="{{ item.link.target }}">
                                        <span class="inline-flex">
                                            See more
                                        </span>
                                        <span class="inline-flex">
                                            <svg class="w-8 h-11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M1.73438 1L6.23438 5.5L1.73438 10" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>