{{ function('wp_footer') }}

<script>
    // Set up global AJAX data that your JavaScript expects
    window.ajaxurl_data = {
        url: '{{ function('admin_url', 'admin-ajax.php') }}',
        nonce: '{{ function('wp_create_nonce', 'newsroom_filter_nonce') }}'
    };
    
    // Optional: Add newsroom-specific data if needed
    window.newsroom_data = {
        nonce: '{{ function('wp_create_nonce', 'newsroom_filter_nonce') }}',
        {% if total_posts is defined %}
        total_posts: {{ total_posts }},
        {% endif %}
        {% if posts_per_load is defined %}
        posts_per_load: {{ posts_per_load }},
        {% endif %}
        {% if initial_posts is defined %}
        initial_posts: {{ initial_posts }}
        {% endif %}
    };
</script>

</body>
</html