{% set items = [
    {
        image: {
            url: "/wp-content/themes/outten-and-golden/static/01.jpg",
            alt: "Book a call"
        }
    },
    {
        image: {
            url: "/wp-content/themes/outten-and-golden/static/02.jpg",
            alt: "Book a call"
        }
    },
    {
        image: {
            url: "/wp-content/themes/outten-and-golden/static/03.jpg",
            alt: "Book a call"
        }
    }
] %}

<footer class="relative bg-white js-sfoot">
    {# <pre>{{ options|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre> #}

 
            <div class="border-t border-grey-taupe border-b">
                <div class="site-max">
                    <div class="relative site-grid site-max py-65 !px-32 items-center">
                        <div class="col-span-4 gap-y-24 flex flex-col ">
                            <a class="w-[19.6rem] flex" href="/">
                                <svg class="w-135 fill-green" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 135.98 16.58">
                                    <path d="M71.88,7.06l-1.45.59c.58.77.97,1.67.97,2.81,0,2.53-2.05,4.59-4.58,4.59s-4.58-2.06-4.58-4.59c0-1.53.9-2.68,2.3-3.98l1.28,1.12c-1.02.93-1.6,1.86-1.6,2.96,0,1.44,1.17,2.6,2.6,2.6s2.6-1.17,2.6-2.6c0-1.25-.78-2.26-1.46-2.91,1.1-1.03,2.73-2.58,2.73-4.94,0-.68-.11-1.33-.32-1.94h-1.65c.28.59.43,1.25.43,1.94,0,1.53-.9,2.68-2.3,3.98l-1.28-1.12c1.02-.93,1.6-1.86,1.6-2.96,0-1.44-1.17-2.6-2.6-2.6s-2.6,1.17-2.6,2.6c0,1.25.78,2.26,1.46,2.91-1.1,1.03-2.73,2.58-2.73,4.94,0,3.38,2.74,6.12,6.11,6.12s6.11-2.75,6.11-6.12c0-1.4-.45-2.51-1.04-3.4h0ZM66.82,8.47c.4.36,1.25,1.24,1.25,2.19,0,.69-.56,1.26-1.25,1.26s-1.25-.56-1.25-1.26c0-.95.85-1.83,1.25-2.19ZM63.32,2.51c0-.69.56-1.26,1.25-1.26s1.25.56,1.25,1.26c0,.95-.85,1.83-1.25,2.19-.4-.36-1.25-1.24-1.25-2.19Z"></path>
                                    <path d="M7.2.33C2.18.33,0,4.36,0,8.32s2.18,7.86,7.2,7.86,7.13-3.92,7.13-7.86S12.17.33,7.2.33ZM7.2,14.45c-3.55,0-5.08-3.06-5.08-6.12S3.65,2.07,7.2,2.07s5.02,3.15,5.02,6.25-1.52,6.12-5.02,6.12Z"></path>
                                    <path d="M22.47,10.42c0,1.82-.11,2.48-.68,3.19-.49.6-1.02.94-1.9.94-.98,0-1.56-.45-1.79-.81-.34-.47-.43-1.05-.43-2.5v-5.72h-1.9v5.72c0,1.78.09,2.59.75,3.49.73.98,1.84,1.35,2.84,1.35,1.79,0,2.9-1.09,3.14-1.93v1.67h1.86V5.51h-1.88v4.91Z"></path>
                                    <path d="M43.05,5.24c-3.1,0-4.72,2.61-4.72,5.44s1.5,5.4,4.95,5.4c2.44,0,4.02-1.88,4.31-3.3l-1.82-.39c-.21.98-.96,2.2-2.59,2.2-2.07,0-2.93-1.78-2.95-3.47h7.48c.02-.09.02-.26.02-.41,0-3.13-1.71-5.48-4.7-5.48ZM40.28,9.65c0-1.61,1-2.93,2.78-2.93s2.71,1.54,2.71,2.93h-5.49Z"></path>
                                    <polygon points="43.05 5.24 43.05 5.24 43.05 5.24 43.05 5.24"></polygon>
                                    <path d="M57.13,6.59c-.73-.98-1.84-1.35-2.84-1.35-1.79,0-2.97,1.09-3.2,1.93v-1.65h-1.86v10.3h1.9v-4.92c0-1.67.11-2.48.66-3.19.47-.6,1.09-.94,1.96-.94.96,0,1.56.45,1.79.81.34.47.43,1.05.43,2.5v5.74h1.88v-5.74c0-1.78-.06-2.59-.73-3.49h0Z"></path>
                                    <path d="M35.44,2.77h0V.77l-1.9.77v3.98h-4.19V.77l-1.9.77v3.98h-1.99v1.52h1.99v6.49c0,1.67,1,2.44,2.61,2.44.64,0,1.17-.11,1.47-.17v-1.52c-.32.06-.71.11-1.02.11-.75,0-1.15-.32-1.15-1.31v-6.04h4.19v6.49c0,1.67,1,2.44,2.61,2.44.64,0,1.17-.11,1.47-.17v-1.52c-.32.06-.71.11-1.02.11-.75,0-1.15-.32-1.15-1.31v-6.04h2.18v-1.52h-2.18v-2.74Z"></path>
                                    <path d="M95.32,5.24c-3.23,0-4.98,2.78-4.98,5.44s1.75,5.4,4.98,5.4,4.95-2.76,4.95-5.4-1.75-5.44-4.95-5.44ZM95.32,14.55c-2.07,0-3.05-2.01-3.05-3.88s.98-3.92,3.05-3.92,3.01,2.05,3.01,3.92-.96,3.88-3.01,3.88Z"></path>
                                    <path d="M121.17,5.24c-3.1,0-4.72,2.61-4.72,5.44s1.5,5.4,4.95,5.4c2.44,0,4.02-1.88,4.31-3.3l-1.82-.39c-.21.98-.96,2.2-2.58,2.2-2.07,0-2.93-1.78-2.95-3.47h7.48c.02-.09.02-.26.02-.41,0-3.13-1.71-5.48-4.7-5.48ZM118.39,9.65c0-1.61,1-2.93,2.78-2.93s2.71,1.54,2.71,2.93h-5.49Z"></path>
                                    <polygon points="121.17 5.24 121.17 5.24 121.17 5.24 121.17 5.24"></polygon>
                                    <path d="M135.25,6.59h0c-.73-.98-1.84-1.35-2.84-1.35-1.79,0-2.97,1.09-3.2,1.93v-1.65h-1.86v10.3h1.9v-4.92c0-1.67.11-2.48.66-3.19.47-.6,1.09-.94,1.97-.94.96,0,1.56.45,1.79.81.34.47.43,1.05.43,2.5v5.74h1.88v-5.74c0-1.78-.07-2.59-.73-3.49Z"></path>
                                    <polygon points="101.75 15.82 103.65 15.82 103.65 0 101.75 .77 101.75 15.82"></polygon>
                                    <path d="M82.11,9.31h4.8c-.09,3.9-2.5,5.14-4.53,5.14-3.38,0-5.06-2.87-5.06-6.19s1.84-6.19,5.06-6.19c2.09,0,3.46,1.26,4.17,2.89l1.91-.77c-1.02-2.22-3.06-3.85-6.08-3.85-4.55,0-7.18,3.7-7.18,7.92s2.52,7.92,7.09,7.92c2.44,0,3.84-1.11,4.66-2.55v2.18h1.92V7.65h-6.77v1.65Z"></path>
                                    <path d="M113.03,7.02h0c-.43-.94-1.75-1.78-3.08-1.78-3.59,0-4.83,3.17-4.83,5.44,0,2.08,1.11,5.4,4.74,5.4,1.37,0,2.82-.81,3.23-1.82v1.56h1.84V0l-1.9.77v6.25ZM110.14,14.55h0c-2.24,0-3.1-2.27-3.1-3.9,0-1.9.98-3.9,3.18-3.9,1.02,0,2.84.77,2.84,3.92s-1.82,3.88-2.93,3.88Z"></path>
                                </svg>
                            </a>

                            <p class="text-green text-16 font-normal leading-[1.32]">{{ options.book_a_call.description }}</p>
                        </div>

                        <div class="col-start-14 col-span-3 flex justify-end">
                            <a 
                                class="relative w-fit h-48 font-medium text-green py-12 px-16 l:-ml-2 flex items-center border rounded-[0.4rem] text-12 gap-x-8 uppercase tracking-[0.1em] border-grey-taupe bg-white" 
                                href="{{ options.book_a_call.link.url }}"
                                target="{{ options.book_a_call.link.target }}"
                            >
                                <div class="hidden l:flex items-center">
                                    {% for item in items %}
                                        <img class="relative size-24 object-cover {{ loop.index == 1 ? '' : '-ml-15' }}" src="{{ item.image.url }}" alt="{{ item.image.alt }}">
                                    {% endfor %}
                                </div>
                                <span class="leading-none">{{ options.book_a_call.link.title }}</span>
                            </a>
                        </div>

                        {#
                        <div class="absolute top-0 left-[calc(0%-2.2%)] w-[100vw] h-[0.1rem] bg-grey-taupe"></div>
                        <div class="absolute bottom-0 left-[calc(0%-2.2%)] w-[100vw] h-[0.1rem] bg-grey-taupe"></div>
                        #}
                    </div>
                </div>
            </div>

            <div class="col-span-full">
                <div class="site-grid site-max">
                    <div class="relative col-start-1 col-span-5 pl-32">
                        <div class="relative space-y-32 pt-65 pb-100">
                            <div class="relative">
                                <h5 class="font-sans text-grey text-12 font-medium leading-none tracking-[0.12rem] uppercase">{{ footer_menu_1.name|replace({'Footer - ': ''}) }}</h5>
                            </div>

                            <ul class="relative text-green space-y-8 leading-[1.36]">
                                {% for item in footer_menu_1.items %}
                                    <li class="relative">
                                        <a class="ulink text-14 font-normal" href="{{ item.url }}" target="{{ item.target }}">{{ item.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        <div class="absolute top-0 right-[calc(0%-3%)] w-[1px] h-full bg-grey-taupe"></div>
                    </div>

                    <div class="relative col-start-6 col-span-5 pl-[5.6rem]">
                        <div class="relative pt-65 flex flex-col items-start justify-start space-y-[7.2rem]">
                            <div class="relative space-y-32">
                                <div class="relative">
                                    <h5 class="font-sans text-grey text-12 font-medium leading-none tracking-[0.12rem] uppercase">{{ footer_menu_2.name|replace({'Footer - ': ''}) }}</h5>
                                </div>
                                <ul class="relative text-green space-y-8 leading-[1.36]">
                                    {% for item in footer_menu_2.items %}
                                        <li class="relative">
                                            <a class="ulink text-14 font-normal" href="{{ item.url }}" target="{{ item.target }}">{{ item.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="relative space-y-32">
                                <div class="relative">
                                    <h5 class="font-sans text-grey text-12 font-medium leading-none tracking-[0.12rem] uppercase">{{ footer_menu_3.name|replace({'Footer - ': ''}) }}</h5>
                                </div>
                                <ul class="relative text-green space-y-8 leading-[1.36]">
                                    {% for item in footer_menu_3.items %}
                                        <li class="relative">
                                            <a class="ulink text-14 font-normal" href="{{ item.url }}" target="{{ item.target }}">{{ item.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="relative space-y-32">
                                <div class="relative">
                                    <h5 class="font-sans text-grey text-12 font-medium leading-none tracking-[0.12rem] uppercase">{{ footer_menu_4.name|replace({'Footer - ': ''}) }}</h5>
                                </div>
                                <ul class="relative text-green space-y-8 leading-[1.36]">
                                    {% for item in footer_menu_4.items %}
                                        <li class="relative">
                                            <a class="ulink text-14 font-normal" href="{{ item.url }}" target="{{ item.target }}">{{ item.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="absolute top-0 right-[calc(0%-10%)] w-[1px] h-full bg-grey-taupe"></div>
                    </div>

                    <div class="col-start-11 col-span-6 pb-100 pl-[8rem] pr-32 flex flex-col items-start justify-between">
                        <div class="relative pt-65 space-y-[3.2rem]">
                            <p class="font-sans text-grey text-12 font-medium leading-none tracking-[0.12rem] uppercase">{{ footer_menu_5.name|replace({'Footer - ': ''}) }}</p>
                            
                            <ul class="relative text-green space-y-8 leading-[1.36]">
                                {% for item in footer_menu_5.items %}
                                    <li>
                                        <a class="ulink text-14 font-normal" href="{{ item.url }}" target="{{ item.target }}">{{ item.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="relative flex items-end justify-between w-full">
                            <div class="relative space-y-[3.2rem]">
                                <p class="font-sans text-grey text-12 font-medium leading-none tracking-[0.12rem] uppercase">{{ options.newsletter.subtitle }}</p>

                                <div class="relative">
                                    <button class="relative inline-flex space-x-8 items-center justify-center text-12 font-medium leading-none tracking-[0.12rem] text-green uppercase" type="button">
                                        <span class="inline-flex">
                                            {{ options.newsletter.cta_text }}
                                        </span>
                                        <span class="inline-flex">
                                            <svg class="w-8 h-11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_5001_23171)">
                                                    <path d="M1.73438 1L6.23438 5.5L1.73438 10" stroke="#7A7871" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_5001_23171">
                                                        <rect width="7" height="11" fill="white" transform="translate(0.734375)"/>
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </span>
                                    </button>
                                </div>
                            </div>

                            <div class="relative space-y-[3.2rem]">
                                <h5 class="font-sans text-grey text-12 font-medium leading-none tracking-[0.12rem] uppercase">Connect With Us</h5>                            

                                <div class="relative">
                                    <ul class="relative flex space-x-12">
                                        <li class="relative">
                                            <a href="{{ options.socials.facebook_url }}" target="_blank" class="relative flex">
                                                <svg class="shrink-0 w-[1.7rem] h-[2.3rem]" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M9.49986 8.04721H11.2493L11.949 5.24818H9.49986V3.84867C9.49986 3.12792 9.49986 2.44915 10.8994 2.44915H11.949V0.0979661C11.7209 0.0678765 10.8595 0 9.94981 0C8.04997 0 6.70083 1.1595 6.70083 3.28886V5.24818H4.60156V8.04721H6.70083V13.9951H9.49986V8.04721Z" fill="#1E383E"/>
                                                </svg>
                                            </a>
                                        </li>

                                        <li class="relative">
                                            <a href="{{ options.socials.x_url }}" target="_blank" class="relative flex">
                                                <svg class="shrink-0 w-[1.7rem] h-[2.3rem]" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12.7624 0H15.1306L9.9574 5.92764L16.0439 13.9951H11.2788L7.54399 9.10324L3.27529 13.9951H0.904894L6.43765 7.65277L0.601562 0.00110301H5.48795L8.85879 4.47165L12.7624 0ZM11.9296 12.5745H13.2422L4.77099 1.34679H3.36353L11.9296 12.5745Z" fill="#1E383E"/>
                                                </svg>
                                            </a>
                                        </li>

                                        <li class="relative">
                                            <a href="{{ options.socials.linkedin_url }}" target="_blank" class="relative flex">
                                                <svg class="shrink-0 w-[1.7rem] h-[2.3rem]" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M4.71142 1.55571C4.71122 1.9681 4.5472 2.36352 4.25544 2.65498C3.96369 2.94644 3.56811 3.11007 3.15572 3.10986C2.74332 3.10965 2.3479 2.94563 2.05644 2.65388C1.76498 2.36213 1.60136 1.96655 1.60156 1.55415C1.60177 1.14176 1.76579 0.746339 2.05754 0.454879C2.34929 0.163419 2.74488 -0.000206002 3.15727 1.94647e-07C3.56966 0.000206391 3.96508 0.164227 4.25654 0.455978C4.548 0.74773 4.71163 1.14331 4.71142 1.55571ZM4.75807 4.26129H1.64821V13.9951H4.75807V4.26129ZM9.67165 4.26129H6.57734V13.9951H9.64055V8.8872C9.64055 6.04168 13.3491 5.77734 13.3491 8.8872V13.9951H16.42V7.82985C16.42 3.03289 10.9311 3.21171 9.64055 5.56743L9.67165 4.26129Z" fill="#1E383E"/>
                                                </svg>
                                            </a>
                                        </li>

                                        <li class="relative">
                                            <a href="{{ options.socials.tiktok_url }}" target="_blank" class="relative flex">
                                                <svg class="shrink-0 w-[1.7rem] h-[2.3rem]" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12.2738 2.19257C11.7424 1.58575 11.4495 0.806586 11.4496 0H9.04711V9.6411C9.02896 10.163 8.80881 10.6574 8.43311 11.02C8.05741 11.3827 7.55553 11.5852 7.03336 11.5849C5.9293 11.5849 5.01184 10.683 5.01184 9.56335C5.01184 8.22604 6.3025 7.22305 7.63204 7.63513V5.1782C4.94964 4.82055 2.60156 6.90427 2.60156 9.56335C2.60156 12.1525 4.74749 13.9951 7.02558 13.9951C9.46696 13.9951 11.4496 12.0125 11.4496 9.56335V4.67282C12.4238 5.37247 13.5935 5.74784 14.7929 5.74579V3.34329C14.7929 3.34329 13.3312 3.41326 12.2738 2.19257Z" fill="#1E383E"/>
                                                </svg>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="relative py-20 border-t border-grey-taupe">
                <div class="site-max">
                    <div class="site-grid px-32 items-center">
                        <div class="col-start-1 col-span-3">
                            <p class="text-12 font-normal leading-none">© {{ "now"|date("Y") }} Outten & Golden LLP</p>
                        </div>

                        <div class="col-start-6 col-span-11">
                            <ul class="relative flex flex-row items-center justify-end text-green gap-x-27">
                                {% for item in footer_menu_6.items %}
                                    <li>
                                        <a class="ulink shrink-0 text-12 font-normal leading-none" href="{{ item.url }}" target="{{ item.target }}">{{ item.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        
    
</footer>