{% set items = [
    {
        image: {
            url: "/wp-content/themes/outten-and-golden/static/01.jpg",
            alt: "Book a call"
        }
    },
    {
        image: {
            url: "/wp-content/themes/outten-and-golden/static/02.jpg",
            alt: "Book a call"
        }
    },
    {
        image: {
            url: "/wp-content/themes/outten-and-golden/static/03.jpg",
            alt: "Book a call"
        }
    }
] %}

<section class="relative py-80 s:py-160">
    {# <pre>{{ item|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre> #}

    <div class="site-max">
        <div class="site-grid">
            <div class="col-start-1 col-span-full">
                <div class="site-grid">
                    <div class="relative overflow-hidden flex items-center justify-start s:col-start-2 col-span-full s:col-span-14 bg-white-smoke aspect-[329/600] s:aspect-[1200/560]">
                        <div class="flex flex-col items-start pl-24 s:pl-90 pr-24 s:pr-0 space-y-40">
                            <div class="relative">
                                <h5 class="font-sans text-12 font-medium leading-none tracking-[0.12rem] uppercase">{{ item.subtitle }}</h5>
                            </div>

                            <div class="relative">
                                <h3 class="text-40 s:text-56 text-normal leading-[1.16] tracking-[-0.112rem]">{{ item.title }}</h3>
                            </div>
                            
                            <div class="relative flex items-center gap-x-24 s:gap-x-32">
                                {% if item.link %}
                                    <a 
                                        class="relative w-fit h-48 font-medium text-green py-12 px-16 l:-ml-2 flex items-center border rounded-[0.4rem] text-12 gap-x-8 uppercase tracking-[0.1em] border-green" 
                                        href="{{ item.link.url }}"
                                    >
                                        <div class="hidden l:flex items-center">
                                            {% for item in items %}
                                                <img class="relative size-24 object-cover {{ loop.index == 1 ? '' : '-ml-15' }}" src="{{ item.image.url }}" alt="{{ item.image.alt }}">
                                            {% endfor %}
                                        </div>
                                        <span class="leading-none">{{ item.link.title }}</span>
                                    </a>
                                {% endif %}

                                {% if item.tel_link %}
                                    <a 
                                        class="font-medium text-green py-12 px-16 uppercase hidden s:flex items-center gap-x-8 text-12 h-48 border rounded-[0.4rem] border-green"
                                        href="{{ item.tel_link.url }}"
                                        target="_blank"
                                    >
                                        <svg class="w-9" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.35 14.7">
                                            <path d="M7.53,14.7H2.82c-1.56,0-2.82-1.27-2.82-2.82V2.82C0,1.27,1.27,0,2.82,0h4.71c1.56,0,2.82,1.27,2.82,2.82v9.05c0,1.56-1.27,2.82-2.82,2.82ZM2.82,1.3c-.84,0-1.52.68-1.52,1.52v9.05c0,.84.68,1.52,1.52,1.52h4.71c.84,0,1.52-.68,1.52-1.52V2.82c0-.84-.68-1.52-1.52-1.52H2.82ZM5.9,12.16h-1.45c-.36,0-.65-.29-.65-.65s.29-.65.65-.65h1.45c.36,0,.65.29.65.65s-.29.65-.65.65Z"/>
                                        </svg>
                                        <span class="tracking-[0.1em] leading-none">{{ item.tel_link.title }}</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="absolute top-0 right-0 pointer-events-none">
                            <figure class="relative w-fit hidden s:block">
                                <svg class="w-[66rem] h-auto pointer-events-none select-none" viewBox="0 0 664 561" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_3153_7815)">
                                    <path d="M755.804 308.169L663.42 345.432C700.158 394.501 724.793 451.369 724.793 523.944C724.793 684.8 594.267 815.651 433.81 815.651C273.353 815.651 142.827 684.8 142.827 523.944C142.827 426.889 200.203 353.447 289.345 270.907L370.6 342.074C305.985 400.892 268.707 460.468 268.707 530.443C268.707 621.758 342.831 695.957 433.81 695.957C524.79 695.957 598.913 621.649 598.913 530.443C598.913 451.153 549.317 386.702 505.989 345.432C576.222 279.681 679.736 181.543 679.736 31.0854C679.736 -12.0262 672.604 -53.4047 659.638 -92.1835H555.044C572.548 -54.7046 582.381 -13.0011 582.381 31.0854C582.381 128.141 525.005 201.582 435.863 284.122L354.608 212.956C419.223 154.138 456.501 94.5612 456.501 24.5861C456.501 -66.7281 382.377 -140.928 291.398 -140.928C200.418 -140.928 126.295 -66.6198 126.295 24.5861C126.295 103.877 175.891 168.328 219.219 209.598C148.986 275.348 45.4722 373.487 45.4722 523.944C45.4722 738.635 219.652 913.248 433.81 913.248C647.969 913.248 822.148 738.635 822.148 523.944C822.148 435.121 793.622 364.496 755.804 308.061V308.169ZM433.702 397.534C459.094 420.389 513.444 476.175 513.444 536.509C513.444 580.596 477.679 616.45 433.702 616.45C389.725 616.45 353.96 580.596 353.96 536.509C353.96 476.175 408.31 420.281 433.702 397.534ZM211.656 18.5202C211.656 -25.5663 247.421 -61.4204 291.398 -61.4204C335.375 -61.4204 371.14 -25.5663 371.14 18.5202C371.14 78.8547 316.79 134.748 291.398 157.495C266.006 134.64 211.656 78.8547 211.656 18.5202Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M-3356.32 -119.697C-3675.4 -119.697 -3813.92 136.265 -3813.92 388.11C-3813.92 639.955 -3675.4 887.684 -3356.32 887.684C-3037.24 887.684 -2902.83 638.547 -2902.83 388.11C-2902.83 137.673 -3039.94 -119.697 -3356.32 -119.697ZM-3356.32 777.414C-3581.71 777.414 -3679.5 582.762 -3679.5 388.11C-3679.5 193.458 -3581.71 -9.42654 -3356.32 -9.42654C-3130.92 -9.42654 -3037.24 190.642 -3037.24 388.11C-3037.24 585.578 -3133.62 777.414 -3356.32 777.414Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M-2385.47 521.453C-2385.47 637.139 -2392.28 679.384 -2428.91 724.229C-2460.14 762.358 -2494.07 784.13 -2549.71 784.13C-2612.17 784.13 -2648.8 755.533 -2663.82 732.353C-2685.53 702.456 -2690.94 665.627 -2690.94 573.122V209.489H-2811.74V573.122C-2811.74 686.1 -2806.34 737.877 -2764.2 794.962C-2718.06 857.571 -2647.39 880.752 -2583.64 880.752C-2469.54 880.752 -2398.98 811.318 -2384.07 758.241V864.396H-2265.97V209.489H-2385.47V521.453Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M-1076.97 192.05C-1273.84 192.05 -1377.03 358.105 -1377.03 537.809C-1377.03 717.513 -1281.94 880.86 -1062.06 880.86C-907.219 880.86 -806.731 761.058 -787.823 671.26L-903.221 646.78C-916.836 709.389 -964.379 786.946 -1067.57 786.946C-1199.28 786.946 -1253.63 673.968 -1254.93 566.406H-779.719C-778.422 560.99 -778.422 550.049 -778.422 540.517C-778.422 341.749 -887.014 192.05 -1077.18 192.05H-1076.97ZM-1253.52 472.492C-1253.52 370.345 -1189.67 285.964 -1076.97 285.964C-964.271 285.964 -904.518 383.994 -904.518 472.492H-1253.52Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M-181.977 277.84C-228.115 215.23 -298.78 192.05 -362.531 192.05C-476.633 192.05 -551.297 261.483 -566.208 314.56V209.598H-684.309V864.504H-563.507V551.457C-563.507 445.303 -556.7 393.526 -521.367 348.681C-491.545 310.552 -452.106 288.78 -396.459 288.78C-335.302 288.78 -297.376 317.377 -282.356 340.449C-260.638 370.345 -255.236 407.174 -255.236 499.68V864.504H-135.73V499.68C-135.73 386.702 -139.836 334.925 -181.868 277.84H-181.977Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M-1560.82 35.3098V-92.1835L-1681.63 -43.4392V209.598H-1948.3V-92.1835L-2069.1 -43.4392V209.489H-2195.41V306.111H-2069.1V718.704C-2069.1 824.859 -2005.24 873.928 -1903.46 873.928C-1862.72 873.928 -1828.79 867.104 -1809.78 862.987V766.365C-1830.2 770.482 -1854.62 773.19 -1874.93 773.19C-1922.47 773.19 -1948.3 752.825 -1948.3 690.108V306.111H-1681.63V718.704C-1681.63 824.859 -1617.77 873.928 -1515.98 873.928C-1475.25 873.928 -1441.32 867.104 -1422.3 862.987V766.365C-1442.72 770.482 -1467.14 773.19 -1487.46 773.19C-1535 773.19 -1560.82 752.825 -1560.82 690.108V306.111H-1422.3V209.489H-1560.82V35.2015V35.3098Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M2245.73 192.05C2040.65 192.05 1929.35 369.046 1929.35 537.809C1929.35 706.573 2040.65 880.86 2245.73 880.86C2450.81 880.86 2560.7 705.273 2560.7 537.809C2560.7 370.345 2449.41 192.05 2245.73 192.05ZM2245.73 784.238C2114.01 784.238 2051.56 656.312 2051.56 537.809C2051.56 419.306 2114.01 288.672 2245.73 288.672C2377.44 288.672 2437.2 419.306 2437.2 537.809C2437.2 656.312 2376.04 784.238 2245.73 784.238Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M3889.09 192.05C3692.22 192.05 3589.03 358.105 3589.03 537.809C3589.03 717.513 3684.11 880.86 3904 880.86C4058.84 880.86 4159.32 761.058 4178.23 671.26L4062.83 646.78C4049.22 709.389 4001.68 786.946 3898.49 786.946C3766.77 786.946 3712.42 673.968 3711.13 566.406H4186.34C4187.63 560.99 4187.63 550.049 4187.63 540.517C4187.63 341.749 4079.04 192.05 3888.87 192.05H3889.09ZM3712.53 472.492C3712.53 370.345 3776.39 285.964 3889.09 285.964C4001.79 285.964 4061.54 383.994 4061.54 472.492H3712.53Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M4784.08 277.84C4737.94 215.23 4667.28 192.05 4603.53 192.05C4489.42 192.05 4414.76 261.483 4399.85 314.56V209.598H4281.75V864.504H4402.55V551.457C4402.55 445.303 4409.36 393.526 4444.69 348.681C4474.51 310.552 4513.95 288.78 4569.6 288.78C4630.75 288.78 4668.68 317.377 4683.7 340.449C4705.42 370.345 4710.82 407.174 4710.82 499.68V864.504H4830.33V499.68C4830.33 386.702 4826.22 334.925 4784.19 277.84H4784.08Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M2654.38 864.504H2775.29V-140.928L2654.38 -92.1835V864.504Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M1405.63 450.719H1711.2C1705.79 698.448 1552.36 777.414 1423.35 777.414C1208.76 777.414 1101.57 595.002 1101.57 383.994C1101.57 172.985 1218.37 -9.42654 1423.35 -9.42654C1556.47 -9.42654 1643.34 70.839 1688.18 174.393L1809.63 125.324C1745.02 -15.4925 1615.14 -119.697 1423.35 -119.697C1134.09 -119.697 967.153 115.792 967.153 383.994C967.153 652.196 1127.39 887.684 1417.95 887.684C1572.78 887.684 1662.36 816.951 1714.01 725.745V864.612H1836.21V345.54H1405.74V450.719H1405.63Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M3371.3 305.028C3344.18 245.127 3260.01 192.05 3175.73 192.05C2947.63 192.05 2868.86 393.526 2868.86 537.809C2868.86 669.852 2939.42 880.86 3170.33 880.86C3257.2 880.86 3349.59 829.083 3375.41 765.174V864.504H3492.21V-140.928L3371.41 -92.1835V305.028H3371.3ZM3187.94 784.238C3045.42 784.238 2991.07 639.955 2991.07 536.509C2991.07 415.407 3053.52 288.78 3193.34 288.78C3258.5 288.78 3373.9 337.741 3373.9 537.917C3373.9 738.094 3258.5 784.347 3187.83 784.347L3187.94 784.238Z" fill="#292929" fill-opacity="0.03"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_3153_7815">
                                    <rect width="677" height="599" fill="white" transform="translate(0 -23)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </figure>

                            <figure class="relative w-fit block s:hidden">
                                <svg class="w-[35rem] h-auto pointer-events-none select-none" viewBox="0 0 329 600" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_3285_3269)">
                                    <path d="M670.405 326.2L588.297 359.317C620.948 402.928 642.843 453.471 642.843 517.973C642.843 660.936 526.836 777.232 384.228 777.232C241.62 777.232 125.613 660.936 125.613 517.973C125.613 431.713 176.606 366.441 255.833 293.083L328.049 356.333C270.621 408.608 237.49 461.558 237.49 523.749C237.49 604.906 303.368 670.852 384.228 670.852C465.087 670.852 530.966 604.81 530.966 523.749C530.966 453.278 486.887 395.997 448.378 359.317C510.799 300.881 602.798 213.659 602.798 79.9377C602.798 41.6216 596.46 4.84592 584.936 -29.6193H491.976C507.533 3.69066 516.273 40.7552 516.273 79.9377C516.273 166.197 465.279 231.469 386.052 304.828L313.836 241.577C371.264 189.302 404.395 136.353 404.395 74.1613C404.395 -6.99548 338.516 -72.9414 257.657 -72.9414C176.798 -72.9414 110.919 -6.8992 110.919 74.1613C110.919 144.632 154.999 201.914 193.508 238.593C131.086 297.03 39.0872 384.252 39.0872 517.973C39.0872 708.783 193.892 863.972 384.228 863.972C574.564 863.972 729.369 708.783 729.369 517.973C729.369 439.03 704.016 376.261 670.405 326.104V326.2ZM384.132 405.624C406.699 425.937 455.003 475.517 455.003 529.14C455.003 568.323 423.217 600.188 384.132 600.188C345.047 600.188 313.26 568.323 313.26 529.14C313.26 475.517 361.564 425.841 384.132 405.624ZM186.785 68.7702C186.785 29.5877 218.572 -2.27818 257.657 -2.27818C296.742 -2.27818 328.529 29.5877 328.529 68.7702C328.529 122.393 280.225 172.069 257.657 192.286C235.089 171.973 186.785 122.393 186.785 68.7702Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M-2984.3 -54.0722C-3267.89 -54.0722 -3391 173.417 -3391 397.248C-3391 621.079 -3267.89 841.252 -2984.3 841.252C-2700.72 841.252 -2581.25 619.828 -2581.25 397.248C-2581.25 174.669 -2703.12 -54.0722 -2984.3 -54.0722ZM-2984.3 743.248C-3184.63 743.248 -3271.54 570.248 -3271.54 397.248C-3271.54 224.249 -3184.63 43.9321 -2984.3 43.9321C-2783.98 43.9321 -2700.72 221.745 -2700.72 397.248C-2700.72 572.751 -2786.38 743.248 -2984.3 743.248Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M-2121.45 515.758C-2121.45 618.576 -2127.5 656.122 -2160.06 695.979C-2187.81 729.866 -2217.96 749.217 -2267.42 749.217C-2322.93 749.217 -2355.48 723.801 -2368.83 703.199C-2388.13 676.628 -2392.93 643.896 -2392.93 561.68V238.497H-2500.3V561.68C-2500.3 662.091 -2495.5 708.109 -2458.04 758.844C-2417.04 814.489 -2354.23 835.091 -2297.57 835.091C-2196.16 835.091 -2133.45 773.381 -2120.2 726.208V820.554H-2015.24V238.497H-2121.45V515.758Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M-958.498 222.997C-1133.47 222.997 -1225.18 370.581 -1225.18 530.295C-1225.18 690.01 -1140.67 835.187 -945.245 835.187C-807.631 835.187 -718.321 728.711 -701.515 648.902L-804.078 627.145C-816.178 682.789 -858.432 751.72 -950.143 751.72C-1067.21 751.72 -1115.51 651.309 -1116.66 555.711H-694.313C-693.16 550.898 -693.16 541.174 -693.16 532.702C-693.16 356.044 -789.673 222.997 -958.69 222.997H-958.498ZM-1115.41 472.244C-1115.41 381.46 -1058.66 306.464 -958.498 306.464C-858.336 306.464 -805.23 393.59 -805.23 472.244H-1115.41Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M-163.061 299.244C-204.067 243.599 -266.872 222.997 -323.531 222.997C-424.941 222.997 -491.3 284.707 -504.552 331.88V238.593H-609.516V820.65H-502.152V542.426C-502.152 448.08 -496.102 402.062 -464.699 362.206C-438.194 328.318 -403.142 308.967 -353.685 308.967C-299.331 308.967 -265.624 334.383 -252.275 354.889C-232.973 381.46 -228.171 414.192 -228.171 496.408V820.65H-121.959V496.408C-121.959 395.997 -125.608 349.979 -162.965 299.244H-163.061Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M-1388.53 83.6922V-29.6193L-1495.9 13.7029V238.593H-1732.9V-29.6193L-1840.27 13.7029V238.497H-1952.53V324.371H-1840.27V691.069C-1840.27 785.415 -1783.51 829.026 -1693.05 829.026C-1656.85 829.026 -1626.69 822.961 -1609.79 819.302V733.428C-1627.94 737.087 -1649.64 739.493 -1667.7 739.493C-1709.95 739.493 -1732.9 721.394 -1732.9 665.653V324.371H-1495.9V691.069C-1495.9 785.415 -1439.14 829.026 -1348.68 829.026C-1312.47 829.026 -1282.32 822.961 -1265.42 819.302V733.428C-1283.57 737.087 -1305.27 739.493 -1323.33 739.493C-1365.58 739.493 -1388.53 721.394 -1388.53 665.653V324.371H-1265.42V238.497H-1388.53V83.596V83.6922Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M1994.6 222.997C1812.33 222.997 1713.41 380.305 1713.41 530.295C1713.41 680.286 1812.33 835.187 1994.6 835.187C2176.87 835.187 2274.53 679.131 2274.53 530.295C2274.53 381.46 2175.62 222.997 1994.6 222.997ZM1994.6 749.313C1877.53 749.313 1822.03 635.616 1822.03 530.295C1822.03 424.974 1877.53 308.871 1994.6 308.871C2111.66 308.871 2164.77 424.974 2164.77 530.295C2164.77 635.616 2110.41 749.313 1994.6 749.313Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M3455.15 222.997C3280.18 222.997 3188.47 370.581 3188.47 530.295C3188.47 690.01 3272.98 835.187 3468.41 835.187C3606.02 835.187 3695.33 728.711 3712.14 648.902L3609.57 627.145C3597.47 682.789 3555.22 751.72 3463.51 751.72C3346.45 751.72 3298.14 651.309 3296.99 555.711H3719.34C3720.49 550.898 3720.49 541.174 3720.49 532.702C3720.49 356.044 3623.98 222.997 3454.96 222.997H3455.15ZM3298.24 472.244C3298.24 381.46 3354.99 306.464 3455.15 306.464C3555.32 306.464 3608.42 393.59 3608.42 472.244H3298.24Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M4250.59 299.244C4209.58 243.599 4146.78 222.997 4090.12 222.997C3988.71 222.997 3922.35 284.707 3909.1 331.88V238.593H3804.14V820.65H3911.5V542.426C3911.5 448.08 3917.55 402.062 3948.95 362.206C3975.46 328.318 4010.51 308.967 4059.97 308.967C4114.32 308.967 4148.03 334.383 4161.38 354.889C4180.68 381.46 4185.48 414.192 4185.48 496.408V820.65H4291.69V496.408C4291.69 395.997 4288.04 349.979 4250.69 299.244H4250.59Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M2357.79 820.65H2465.25V-72.9414L2357.79 -29.6193V820.65Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M1247.94 452.893H1519.52C1514.72 673.066 1378.36 743.248 1263.69 743.248C1072.97 743.248 977.708 581.127 977.708 393.59C977.708 206.053 1081.52 43.9321 1263.69 43.9321C1382.01 43.9321 1459.22 115.269 1499.07 207.305L1607.01 163.694C1549.58 38.5409 1434.15 -54.0722 1263.69 -54.0722C1006.61 -54.0722 858.244 155.222 858.244 393.59C858.244 631.958 1000.66 841.252 1258.89 841.252C1396.51 841.252 1476.12 778.387 1522.02 697.326V820.746H1630.63V359.414H1248.04V452.893H1247.94Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M2994.97 323.408C2970.86 270.17 2896.05 222.997 2821.15 222.997C2618.42 222.997 2548.42 402.062 2548.42 530.295C2548.42 647.65 2611.12 835.187 2816.35 835.187C2893.56 835.187 2975.66 789.169 2998.62 732.369V820.65H3102.43V-72.9414L2995.06 -29.6193V323.408H2994.97ZM2832 749.313C2705.33 749.313 2657.03 621.079 2657.03 529.14C2657.03 421.509 2712.54 308.967 2836.8 308.967C2894.71 308.967 2997.27 352.482 2997.27 530.392C2997.27 708.301 2894.71 749.409 2831.9 749.409L2832 749.313Z" fill="#292929" fill-opacity="0.03"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_3285_3269">
                                    <rect width="330" height="600" fill="white" transform="translate(-1)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>