{% set items = [
    {
        image: {
            url: "/wp-content/themes/outten-and-golden/static/01.jpg",
            alt: "Book a call"
        }
    },
    {
        image: {
            url: "/wp-content/themes/outten-and-golden/static/02.jpg",
            alt: "Book a call"
        }
    },
    {
        image: {
            url: "/wp-content/themes/outten-and-golden/static/03.jpg",
            alt: "Book a call"
        }
    }
] %}

<section class="relative py-160">
    {# <pre>{{ item|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre> #}

    <div class="site-max">
        <div class="site-grid">
            <div class="col-start-1 col-span-full">
                <div class="site-grid">
                    <div class="relative flex items-center justify-start col-start-2 col-span-14 bg-white-smoke aspect-[1200/560]">
                        <div class="flex flex-col items-start pl-90 space-y-40">
                            <div class="relative">
                                <h5 class="font-sans text-12 font-medium leading-none tracking-[0.12rem] uppercase">{{ item.subtitle }}</h5>
                            </div>

                            <div class="relative">
                                <h3 class="text-56 text-normal leading-[1.16] tracking-[-0.112rem]">{{ item.title }}</h3>
                            </div>
                            
                            <div class="relative">
                                <a 
                                    class="relative w-fit h-48 font-medium text-green py-12 px-16 l:-ml-2 flex items-center border rounded-[0.4rem] text-12 gap-x-8 uppercase tracking-[0.1em] border-grey-taupe bg-white" 
                                    href="{{ item.link.url }}"
                                    target="{{ item.link.target }}"
                                >
                                    <div class="hidden l:flex items-center">
                                        {% for item in items %}
                                            <img class="relative size-24 object-cover {{ loop.index == 1 ? '' : '-ml-15' }}" src="{{ item.image.url }}" alt="{{ item.image.alt }}">
                                        {% endfor %}
                                    </div>
                                    <span class="leading-none">{{ item.link.title }}</span>
                                </a>
                            </div>
                        </div>

                        <div class="absolute top-0 right-0">
                            <figure class="relative w-fit">
                                <svg class="w-[66rem] h-auto" viewBox="0 0 664 561" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_3153_7815)">
                                    <path d="M755.804 308.169L663.42 345.432C700.158 394.501 724.793 451.369 724.793 523.944C724.793 684.8 594.267 815.651 433.81 815.651C273.353 815.651 142.827 684.8 142.827 523.944C142.827 426.889 200.203 353.447 289.345 270.907L370.6 342.074C305.985 400.892 268.707 460.468 268.707 530.443C268.707 621.758 342.831 695.957 433.81 695.957C524.79 695.957 598.913 621.649 598.913 530.443C598.913 451.153 549.317 386.702 505.989 345.432C576.222 279.681 679.736 181.543 679.736 31.0854C679.736 -12.0262 672.604 -53.4047 659.638 -92.1835H555.044C572.548 -54.7046 582.381 -13.0011 582.381 31.0854C582.381 128.141 525.005 201.582 435.863 284.122L354.608 212.956C419.223 154.138 456.501 94.5612 456.501 24.5861C456.501 -66.7281 382.377 -140.928 291.398 -140.928C200.418 -140.928 126.295 -66.6198 126.295 24.5861C126.295 103.877 175.891 168.328 219.219 209.598C148.986 275.348 45.4722 373.487 45.4722 523.944C45.4722 738.635 219.652 913.248 433.81 913.248C647.969 913.248 822.148 738.635 822.148 523.944C822.148 435.121 793.622 364.496 755.804 308.061V308.169ZM433.702 397.534C459.094 420.389 513.444 476.175 513.444 536.509C513.444 580.596 477.679 616.45 433.702 616.45C389.725 616.45 353.96 580.596 353.96 536.509C353.96 476.175 408.31 420.281 433.702 397.534ZM211.656 18.5202C211.656 -25.5663 247.421 -61.4204 291.398 -61.4204C335.375 -61.4204 371.14 -25.5663 371.14 18.5202C371.14 78.8547 316.79 134.748 291.398 157.495C266.006 134.64 211.656 78.8547 211.656 18.5202Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M-3356.32 -119.697C-3675.4 -119.697 -3813.92 136.265 -3813.92 388.11C-3813.92 639.955 -3675.4 887.684 -3356.32 887.684C-3037.24 887.684 -2902.83 638.547 -2902.83 388.11C-2902.83 137.673 -3039.94 -119.697 -3356.32 -119.697ZM-3356.32 777.414C-3581.71 777.414 -3679.5 582.762 -3679.5 388.11C-3679.5 193.458 -3581.71 -9.42654 -3356.32 -9.42654C-3130.92 -9.42654 -3037.24 190.642 -3037.24 388.11C-3037.24 585.578 -3133.62 777.414 -3356.32 777.414Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M-2385.47 521.453C-2385.47 637.139 -2392.28 679.384 -2428.91 724.229C-2460.14 762.358 -2494.07 784.13 -2549.71 784.13C-2612.17 784.13 -2648.8 755.533 -2663.82 732.353C-2685.53 702.456 -2690.94 665.627 -2690.94 573.122V209.489H-2811.74V573.122C-2811.74 686.1 -2806.34 737.877 -2764.2 794.962C-2718.06 857.571 -2647.39 880.752 -2583.64 880.752C-2469.54 880.752 -2398.98 811.318 -2384.07 758.241V864.396H-2265.97V209.489H-2385.47V521.453Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M-1076.97 192.05C-1273.84 192.05 -1377.03 358.105 -1377.03 537.809C-1377.03 717.513 -1281.94 880.86 -1062.06 880.86C-907.219 880.86 -806.731 761.058 -787.823 671.26L-903.221 646.78C-916.836 709.389 -964.379 786.946 -1067.57 786.946C-1199.28 786.946 -1253.63 673.968 -1254.93 566.406H-779.719C-778.422 560.99 -778.422 550.049 -778.422 540.517C-778.422 341.749 -887.014 192.05 -1077.18 192.05H-1076.97ZM-1253.52 472.492C-1253.52 370.345 -1189.67 285.964 -1076.97 285.964C-964.271 285.964 -904.518 383.994 -904.518 472.492H-1253.52Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M-181.977 277.84C-228.115 215.23 -298.78 192.05 -362.531 192.05C-476.633 192.05 -551.297 261.483 -566.208 314.56V209.598H-684.309V864.504H-563.507V551.457C-563.507 445.303 -556.7 393.526 -521.367 348.681C-491.545 310.552 -452.106 288.78 -396.459 288.78C-335.302 288.78 -297.376 317.377 -282.356 340.449C-260.638 370.345 -255.236 407.174 -255.236 499.68V864.504H-135.73V499.68C-135.73 386.702 -139.836 334.925 -181.868 277.84H-181.977Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M-1560.82 35.3098V-92.1835L-1681.63 -43.4392V209.598H-1948.3V-92.1835L-2069.1 -43.4392V209.489H-2195.41V306.111H-2069.1V718.704C-2069.1 824.859 -2005.24 873.928 -1903.46 873.928C-1862.72 873.928 -1828.79 867.104 -1809.78 862.987V766.365C-1830.2 770.482 -1854.62 773.19 -1874.93 773.19C-1922.47 773.19 -1948.3 752.825 -1948.3 690.108V306.111H-1681.63V718.704C-1681.63 824.859 -1617.77 873.928 -1515.98 873.928C-1475.25 873.928 -1441.32 867.104 -1422.3 862.987V766.365C-1442.72 770.482 -1467.14 773.19 -1487.46 773.19C-1535 773.19 -1560.82 752.825 -1560.82 690.108V306.111H-1422.3V209.489H-1560.82V35.2015V35.3098Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M2245.73 192.05C2040.65 192.05 1929.35 369.046 1929.35 537.809C1929.35 706.573 2040.65 880.86 2245.73 880.86C2450.81 880.86 2560.7 705.273 2560.7 537.809C2560.7 370.345 2449.41 192.05 2245.73 192.05ZM2245.73 784.238C2114.01 784.238 2051.56 656.312 2051.56 537.809C2051.56 419.306 2114.01 288.672 2245.73 288.672C2377.44 288.672 2437.2 419.306 2437.2 537.809C2437.2 656.312 2376.04 784.238 2245.73 784.238Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M3889.09 192.05C3692.22 192.05 3589.03 358.105 3589.03 537.809C3589.03 717.513 3684.11 880.86 3904 880.86C4058.84 880.86 4159.32 761.058 4178.23 671.26L4062.83 646.78C4049.22 709.389 4001.68 786.946 3898.49 786.946C3766.77 786.946 3712.42 673.968 3711.13 566.406H4186.34C4187.63 560.99 4187.63 550.049 4187.63 540.517C4187.63 341.749 4079.04 192.05 3888.87 192.05H3889.09ZM3712.53 472.492C3712.53 370.345 3776.39 285.964 3889.09 285.964C4001.79 285.964 4061.54 383.994 4061.54 472.492H3712.53Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M4784.08 277.84C4737.94 215.23 4667.28 192.05 4603.53 192.05C4489.42 192.05 4414.76 261.483 4399.85 314.56V209.598H4281.75V864.504H4402.55V551.457C4402.55 445.303 4409.36 393.526 4444.69 348.681C4474.51 310.552 4513.95 288.78 4569.6 288.78C4630.75 288.78 4668.68 317.377 4683.7 340.449C4705.42 370.345 4710.82 407.174 4710.82 499.68V864.504H4830.33V499.68C4830.33 386.702 4826.22 334.925 4784.19 277.84H4784.08Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M2654.38 864.504H2775.29V-140.928L2654.38 -92.1835V864.504Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M1405.63 450.719H1711.2C1705.79 698.448 1552.36 777.414 1423.35 777.414C1208.76 777.414 1101.57 595.002 1101.57 383.994C1101.57 172.985 1218.37 -9.42654 1423.35 -9.42654C1556.47 -9.42654 1643.34 70.839 1688.18 174.393L1809.63 125.324C1745.02 -15.4925 1615.14 -119.697 1423.35 -119.697C1134.09 -119.697 967.153 115.792 967.153 383.994C967.153 652.196 1127.39 887.684 1417.95 887.684C1572.78 887.684 1662.36 816.951 1714.01 725.745V864.612H1836.21V345.54H1405.74V450.719H1405.63Z" fill="#292929" fill-opacity="0.03"/>
                                    <path d="M3371.3 305.028C3344.18 245.127 3260.01 192.05 3175.73 192.05C2947.63 192.05 2868.86 393.526 2868.86 537.809C2868.86 669.852 2939.42 880.86 3170.33 880.86C3257.2 880.86 3349.59 829.083 3375.41 765.174V864.504H3492.21V-140.928L3371.41 -92.1835V305.028H3371.3ZM3187.94 784.238C3045.42 784.238 2991.07 639.955 2991.07 536.509C2991.07 415.407 3053.52 288.78 3193.34 288.78C3258.5 288.78 3373.9 337.741 3373.9 537.917C3373.9 738.094 3258.5 784.347 3187.83 784.347L3187.94 784.238Z" fill="#292929" fill-opacity="0.03"/>
                                    </g>
                                    <defs>
                                    <clipPath id="clip0_3153_7815">
                                    <rect width="677" height="599" fill="white" transform="translate(0 -23)"/>
                                    </clipPath>
                                    </defs>
                                </svg>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>