{%- set cleaned_title = post.post_title | replace({ '%' : '', '#' : ''}) -%}

{# <section class="relative bg-white site-max site-grid"> #}
    {# <pre>{{ post.feature_content|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre> #}

    <div class="relative s:sticky s:top-150 s:mb-32 h-fit order-2 s:order-1 s:col-start-1 col-span-full s:col-span-4 p-24 flex flex-col items-center s:items-start justify-center s:justify-between gap-32 bg-white-smoke">
        <div class="relative flex flex-col s:flex-row items-center s:items-start justify-center s:justify-between gap-16">
            <div class="relative hidden s:block w-32 s:w-[5rem] h-32 s:h-[5rem] rounded-[0.2rem] overflow-hidden">
                <figure class="relative w-full h-full">
                    {% include "blocks/common/image.twig" with {
                        props : {
                            data: {
                                image : post.author.profile_picture
                            },
                            options: {
                                container_class: 'w-full relative',
                                class : 'w-full relative h-full object-cover',
                                aspect_ratio: '100%',
                                aspect_ratio_mobile: '100%',
                            }
                        }
                    } %}
                </figure>
            </div>

            <div class="relative text-green flex flex-col items-center s:items-start justify-center s:justify-start gap-y-16 s:gap-y-2">
                <p class="not-italic text-12 font-medium leading-none tracking-[0.12rem] uppercase">Author</p>

                <div class="relative block s:hidden w-50 h-50 rounded-[0.2rem] overflow-hidden">
                    <figure class="relative w-full h-full">
                        {% include "blocks/common/image.twig" with {
                            props : {
                                data: {
                                    image : post.author.profile_picture
                                },
                                options: {
                                    container_class: 'w-full relative',
                                    class : 'w-full relative h-full object-cover',
                                    aspect_ratio: '100%',
                                    aspect_ratio_mobile: '100%',
                                }
                            }
                        } %}
                    </figure>
                </div>

                <p class="not-italic text-16 font-medium leading-[1.32]">{{ post.author.first_name }} {{ post.author.last_name }}</p>
            </div>
        </div>

        <div class="relative w-full flex items-start justify-between">
            <div class="relative">
                <div class="relative text-green flex flex-col items-center s:items-start justify-center s:justify-start">
                    <p class="not-italic text-12 font-medium leading-none tracking-[0.12rem] uppercase">DATE</p>
                    <p class="not-italic text-16 font-medium leading-[1.32]">{{ post.post_date|date("F j, Y") }}</p>
                </div>
            </div>

            <div class="relative">
                <div class="relative text-green flex flex-col items-center s:items-start justify-center s:justify-start gap-y-2">
                    <p class="not-italic text-12 font-medium leading-none tracking-[0.12rem] uppercase">Share</p>
                    <ul class="relative flex items-center gap-x-16">
                        <li class="relative inline-flex">
                            <a href="/" class="relative flex">
                                <svg width="21" height="10" viewBox="0 0 21 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.53906 10C4.15573 10 2.97673 9.51233 2.00206 8.537C1.0274 7.56167 0.53973 6.38267 0.539063 5C0.538397 3.61733 1.02606 2.43833 2.00206 1.463C2.97806 0.487667 4.15706 0 5.53906 0H8.53906C8.8224 0 9.06006 0.0960001 9.25206 0.288C9.44406 0.48 9.53973 0.717333 9.53906 1C9.5384 1.28267 9.4424 1.52033 9.25106 1.713C9.05973 1.90567 8.8224 2.00133 8.53906 2H5.53906C4.70573 2 3.9974 2.29167 3.41406 2.875C2.83073 3.45833 2.53906 4.16667 2.53906 5C2.53906 5.83333 2.83073 6.54167 3.41406 7.125C3.9974 7.70833 4.70573 8 5.53906 8H8.53906C8.8224 8 9.06006 8.096 9.25206 8.288C9.44406 8.48 9.53973 8.71733 9.53906 9C9.5384 9.28267 9.4424 9.52033 9.25106 9.713C9.05973 9.90567 8.8224 10.0013 8.53906 10H5.53906ZM7.53906 6C7.25573 6 7.0184 5.904 6.82706 5.712C6.63573 5.52 6.53973 5.28267 6.53906 5C6.5384 4.71733 6.6344 4.48 6.82706 4.288C7.01973 4.096 7.25706 4 7.53906 4H13.5391C13.8224 4 14.0601 4.096 14.2521 4.288C14.4441 4.48 14.5397 4.71733 14.5391 5C14.5384 5.28267 14.4424 5.52033 14.2511 5.713C14.0597 5.90567 13.8224 6.00133 13.5391 6H7.53906ZM12.5391 10C12.2557 10 12.0184 9.904 11.8271 9.712C11.6357 9.52 11.5397 9.28267 11.5391 9C11.5384 8.71733 11.6344 8.48 11.8271 8.288C12.0197 8.096 12.2571 8 12.5391 8H15.5391C16.3724 8 17.0807 7.70833 17.6641 7.125C18.2474 6.54167 18.5391 5.83333 18.5391 5C18.5391 4.16667 18.2474 3.45833 17.6641 2.875C17.0807 2.29167 16.3724 2 15.5391 2H12.5391C12.2557 2 12.0184 1.904 11.8271 1.712C11.6357 1.52 11.5397 1.28267 11.5391 1C11.5384 0.717333 11.6344 0.48 11.8271 0.288C12.0197 0.0960001 12.2571 0 12.5391 0H15.5391C16.9224 0 18.1017 0.487667 19.0771 1.463C20.0524 2.43833 20.5397 3.61733 20.5391 5C20.5384 6.38267 20.0507 7.562 19.0761 8.538C18.1014 9.514 16.9224 10.0013 15.5391 10H12.5391Z" fill="#292929"/>
                                </svg>
                            </a>
                        </li>

                        <li class="relative inline-flex">
                            <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ post.link | e('url') }}" target="_blank" rel="noreferrer" aria-label="" class="relative flex">
                                <svg class="shrink-0 w-[1.7rem] h-[2.3rem]" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.71142 1.55571C4.71122 1.9681 4.5472 2.36352 4.25544 2.65498C3.96369 2.94644 3.56811 3.11007 3.15572 3.10986C2.74332 3.10965 2.3479 2.94563 2.05644 2.65388C1.76498 2.36213 1.60136 1.96655 1.60156 1.55415C1.60177 1.14176 1.76579 0.746339 2.05754 0.454879C2.34929 0.163419 2.74488 -0.000206002 3.15727 1.94647e-07C3.56966 0.000206391 3.96508 0.164227 4.25654 0.455978C4.548 0.74773 4.71163 1.14331 4.71142 1.55571ZM4.75807 4.26129H1.64821V13.9951H4.75807V4.26129ZM9.67165 4.26129H6.57734V13.9951H9.64055V8.8872C9.64055 6.04168 13.3491 5.77734 13.3491 8.8872V13.9951H16.42V7.82985C16.42 3.03289 10.9311 3.21171 9.64055 5.56743L9.67165 4.26129Z" fill="{{ icon_color|default('#1E383E') }}"/>
                                </svg>
                            </a>
                        </li>

                        <li class="relative inline-flex">
                            <a href="/" class="relative flex">
                                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.1391 2.32804C13.4055 1.58733 12.5319 1.00002 11.5691 0.600333C10.6063 0.20065 9.57353 -0.00341054 8.53107 4.31161e-05C4.16306 4.31161e-05 0.603063 3.56005 0.603063 7.92805C0.603063 9.32805 0.971063 10.6881 1.65906 11.8881L0.539062 16.0001L4.73907 14.8961C5.89907 15.5281 7.20307 15.8641 8.53107 15.8641C12.8991 15.8641 16.4591 12.3041 16.4591 7.93605C16.4591 5.81605 15.6351 3.82405 14.1391 2.32804ZM8.53107 14.5201C7.34707 14.5201 6.18707 14.2001 5.17107 13.6001L4.93107 13.4561L2.43506 14.1121L3.09906 11.6801L2.93906 11.4321C2.2811 10.3817 1.9318 9.16747 1.93106 7.92805C1.93106 4.29605 4.89106 1.33604 8.52307 1.33604C10.2831 1.33604 11.9391 2.02404 13.1791 3.27205C13.7932 3.88314 14.2798 4.61008 14.6108 5.41071C14.9417 6.21134 15.1104 7.06972 15.1071 7.93605C15.1231 11.5681 12.1631 14.5201 8.53107 14.5201ZM12.1471 9.59205C11.9471 9.49605 10.9711 9.01605 10.7951 8.94405C10.6111 8.88005 10.4831 8.84805 10.3471 9.04005C10.2111 9.24005 9.83507 9.68805 9.72307 9.81605C9.61107 9.95205 9.49107 9.96805 9.29107 9.86405C9.09107 9.76805 8.45107 9.55205 7.69907 8.88005C7.10707 8.35205 6.71507 7.70405 6.59507 7.50405C6.48307 7.30405 6.57907 7.20005 6.68307 7.09605C6.77107 7.00805 6.88307 6.86405 6.97907 6.75205C7.07507 6.64005 7.11507 6.55205 7.17907 6.42405C7.24307 6.28805 7.21107 6.17605 7.16307 6.08005C7.11507 5.98405 6.71507 5.00805 6.55507 4.60805C6.39507 4.22405 6.22707 4.27205 6.10707 4.26405H5.72307C5.58707 4.26405 5.37907 4.31205 5.19507 4.51205C5.01906 4.71205 4.50707 5.19205 4.50707 6.16805C4.50707 7.14405 5.21907 8.08805 5.31507 8.21605C5.41107 8.35205 6.71507 10.3521 8.69907 11.2081C9.17107 11.4161 9.53907 11.5361 9.82707 11.6241C10.2991 11.7761 10.7311 11.7521 11.0751 11.7041C11.4591 11.6481 12.2511 11.2241 12.4111 10.7601C12.5791 10.2961 12.5791 9.90405 12.5231 9.81605C12.4671 9.72805 12.3471 9.68805 12.1471 9.59205Z" fill="#292929"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{# </section> #}