{%- set cleaned_title = post.post_title | replace({ '%' : '', '#' : ''}) -%}

{% if not post.author_settings.hide %}
    <section class="relative bg-white">
        {# <pre>{{ post.author_settings.hide|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre> #}

        <div class="site-max">
            <div class="site-grid">
                <div class="relative s:col-start-5 col-span-full s:col-span-8 p-24 flex flex-col s:flex-row items-center s:items-start justify-center s:justify-between gap-32 s:gap-0 bg-white-smoke">
                    <div class="relative flex flex-col s:flex-row items-center justify-center s:justify-between gap-16">
                        <div class="relative hidden s:block size-32 rounded-[0.2rem] overflow-hidden">
                            <figure class="relative w-full h-full">
                                {% include "blocks/common/image.twig" with {
                                    props : {
                                        data: {
                                            image : post.author.profile_picture
                                        },
                                        options: {
                                            container_class: 'w-full relative',
                                            class : 'w-full relative h-full object-cover',
                                            aspect_ratio: '100%',
                                            aspect_ratio_mobile: '100%',
                                        }
                                    }
                                } %}
                            </figure>
                        </div>

                        <div class="relative text-green flex flex-col items-center s:items-start justify-center s:justify-start">
                            <p class="not-italic text-12 font-medium leading-[0.8] tracking-[0.1em] uppercase mb-5">Author</p>

                            <div class="relative block s:hidden size-32 rounded-[0.2rem] overflow-hidden">
                                <figure class="relative w-full h-full">
                                    {% include "blocks/common/image.twig" with {
                                        props : {
                                            data: {
                                                image : post.author.profile_picture
                                            },
                                            options: {
                                                container_class: 'w-full relative',
                                                class : 'w-full relative h-full object-cover',
                                                aspect_ratio: '100%',
                                                aspect_ratio_mobile: '100%',
                                            }
                                        }
                                    } %}
                                </figure>
                            </div>

                            <p class="not-italic text-16 leading-none">{{ post.author.first_name }} {{ post.author.last_name }}</p>
                        </div>
                    </div>

                    <div class="relative">
                        <div class="relative text-green flex flex-col items-center s:items-start justify-center s:justify-start">
                            <p class="not-italic text-12 font-medium leading-none tracking-[0.1em] uppercase mb-5">Date</p>
                            <p class="not-italic text-16 leading-none">{{ post.post_date|date("F j, Y") }}</p>
                        </div>
                    </div>

                    <div class="relative">
                        <div class="relative text-green flex flex-col items-center s:items-start justify-center s:justify-start gap-y-2">
                            <p class="not-italic text-12 font-medium leading-[0.8] tracking-[0.1em] mb-5 uppercase">Share</p>
                            <ul class="relative flex items-center gap-x-16">
                                <li class="relative inline-flex">
                                    <a href="/" class="relative flex">
                                        <svg class="w-[2rem] h-auto" width="21" height="10" viewBox="0 0 21 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.53906 10C4.15573 10 2.97673 9.51233 2.00206 8.537C1.0274 7.56167 0.53973 6.38267 0.539063 5C0.538397 3.61733 1.02606 2.43833 2.00206 1.463C2.97806 0.487667 4.15706 0 5.53906 0H8.53906C8.8224 0 9.06006 0.0960001 9.25206 0.288C9.44406 0.48 9.53973 0.717333 9.53906 1C9.5384 1.28267 9.4424 1.52033 9.25106 1.713C9.05973 1.90567 8.8224 2.00133 8.53906 2H5.53906C4.70573 2 3.9974 2.29167 3.41406 2.875C2.83073 3.45833 2.53906 4.16667 2.53906 5C2.53906 5.83333 2.83073 6.54167 3.41406 7.125C3.9974 7.70833 4.70573 8 5.53906 8H8.53906C8.8224 8 9.06006 8.096 9.25206 8.288C9.44406 8.48 9.53973 8.71733 9.53906 9C9.5384 9.28267 9.4424 9.52033 9.25106 9.713C9.05973 9.90567 8.8224 10.0013 8.53906 10H5.53906ZM7.53906 6C7.25573 6 7.0184 5.904 6.82706 5.712C6.63573 5.52 6.53973 5.28267 6.53906 5C6.5384 4.71733 6.6344 4.48 6.82706 4.288C7.01973 4.096 7.25706 4 7.53906 4H13.5391C13.8224 4 14.0601 4.096 14.2521 4.288C14.4441 4.48 14.5397 4.71733 14.5391 5C14.5384 5.28267 14.4424 5.52033 14.2511 5.713C14.0597 5.90567 13.8224 6.00133 13.5391 6H7.53906ZM12.5391 10C12.2557 10 12.0184 9.904 11.8271 9.712C11.6357 9.52 11.5397 9.28267 11.5391 9C11.5384 8.71733 11.6344 8.48 11.8271 8.288C12.0197 8.096 12.2571 8 12.5391 8H15.5391C16.3724 8 17.0807 7.70833 17.6641 7.125C18.2474 6.54167 18.5391 5.83333 18.5391 5C18.5391 4.16667 18.2474 3.45833 17.6641 2.875C17.0807 2.29167 16.3724 2 15.5391 2H12.5391C12.2557 2 12.0184 1.904 11.8271 1.712C11.6357 1.52 11.5397 1.28267 11.5391 1C11.5384 0.717333 11.6344 0.48 11.8271 0.288C12.0197 0.0960001 12.2571 0 12.5391 0H15.5391C16.9224 0 18.1017 0.487667 19.0771 1.463C20.0524 2.43833 20.5397 3.61733 20.5391 5C20.5384 6.38267 20.0507 7.562 19.0761 8.538C18.1014 9.514 16.9224 10.0013 15.5391 10H12.5391Z" fill="#292929"/>
                                        </svg>
                                    </a>
                                </li>

                                <li class="relative inline-flex">
                                    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ post.link | e('url') }}" target="_blank" rel="noreferrer" aria-label="" class="relative flex">
                                        <svg class="w-[1.4rem] h-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.82 14">
                                            <path class="cls-1" d="M3.11,1.56c0,.41-.16.81-.46,1.1-.29.29-.69.46-1.1.45-.41,0-.81-.16-1.1-.46C.16,2.36,0,1.97,0,1.55c0-.41.16-.81.46-1.1C.75.16,1.14,0,1.56,0c.41,0,.81.16,1.1.46.29.29.46.69.45,1.1ZM3.16,4.26H.05v9.73h3.11V4.26ZM8.07,4.26h-3.09v9.73h3.06v-5.11c0-2.85,3.71-3.11,3.71,0v5.11h3.07v-6.17c0-4.8-5.49-4.62-6.78-2.26l.03-1.31Z"/>
                                        </svg>
                                    </a>
                                </li>

                                <li class="relative inline-flex">
                                    <a href="/" class="relative flex">
                                        <svg class="w-[1.5rem]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.92 16">
                                            <path d="M13.6,2.33c-.73-.74-1.61-1.33-2.57-1.73C10.07.2,9.03,0,7.99,0,3.62,0,.06,3.56.06,7.93c0,1.4.37,2.76,1.06,3.96l-1.12,4.11,4.2-1.1c1.16.63,2.46.97,3.79.97,4.37,0,7.93-3.56,7.93-7.93,0-2.12-.82-4.11-2.32-5.61ZM7.99,14.52c-1.18,0-2.34-.32-3.36-.92l-.24-.14-2.5.66.66-2.43-.16-.25c-.66-1.05-1.01-2.26-1.01-3.5C1.39,4.3,4.35,1.34,7.98,1.34c1.76,0,3.42.69,4.66,1.94.61.61,1.1,1.34,1.43,2.14.33.8.5,1.66.5,2.53.02,3.63-2.94,6.58-6.58,6.58ZM11.61,9.59c-.2-.1-1.18-.58-1.35-.65-.18-.06-.31-.1-.45.1-.14.2-.51.65-.62.78-.11.14-.23.15-.43.05-.2-.1-.84-.31-1.59-.98-.59-.53-.98-1.18-1.1-1.38-.11-.2-.02-.3.09-.41.09-.09.2-.23.3-.34.1-.11.14-.2.2-.33.06-.14.03-.25-.02-.34-.05-.1-.45-1.07-.61-1.47-.16-.38-.33-.34-.45-.34h-.38c-.14,0-.34.05-.53.25-.18.2-.69.68-.69,1.66s.71,1.92.81,2.05c.1.14,1.4,2.14,3.38,2.99.47.21.84.33,1.13.42.47.15.9.13,1.25.08.38-.06,1.18-.48,1.34-.94.17-.46.17-.86.11-.94-.06-.09-.18-.13-.38-.22Z"/>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endif %}