<section class="relative bg-green" data-component="slider(js-slider-container-timeline)">
    {# <pre class="text-white">{{ item|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre> #}

    <div class="site-max py-80 s:py-120">
        <div class="site-grid">
            <div class="s:col-start-1 col-span-full s:col-span-9 space-y-40 pb-50 s:pb-0">
                <div class="relative">
                    <p class="text-white s:text-grey text-left text-12 font-sans font-medium leading-none tracking-[0.12rem] uppercase">{{ item.subtitle }}</p>
                </div>
                <div class="relative s:max-w-[102.6rem] mx-auto">
                    <h2 class="font-sans text-white-smoke text-left text-24 s:text-40 font-normal leading-[1.16] tracking-[-0.04rem]">{{ item.title }}</h2>
                </div>
            </div>

            <div class="s:col-start-11 col-span-full s:col-span-6">
                <figure class="relative w-full">
                    {% include "blocks/common/image.twig" with {
                        props : {
                            data: {
                                image : item.image
                            },
                            options: {
                                container_class: 'w-full h-full overflow-hidden',
                                class : 'w-full h-full object-cover',
                                aspect_ratio: '135%',
                                aspect_ratio_mobile: '150%' 
                            }
                        }
                    } %}
                </figure>
            </div>
        </div>
    </div>

    <div class="relative site-max site-grid select-none cursor-grab w-full pt-40 s:pt-0 pb-120 s:pb-120 js-slider-container-timeline">
        <div class="slider-container col-start-1 col-span-full flex w-full z-1 min-h-auto s:min-h-[48rem] js-slides">
            {% for item in item.timeline %}
                {% set text_color_map = {
                    'grey': 'text-grey-taupe',
                    'black': 'text-grey-taupe',
                    'yellow': 'text-black',
                    'green': 'text-white-smoke',
                    'white': 'text-green'
                } %}

                {% set bg_color = item.card.background_color|lower | default('white') %}
                {% set text_color = text_color_map[bg_color] %}

                {% set isYearCover = item.card.is_year_cover %}
                {% set isYearCoverSizeCardWidth = isYearCover ? 'min-w-full s:min-w-[72rem] max-w-full s:max-w-[72rem]' : 'min-w-full s:min-w-[63rem] max-w-full s:max-w-[63rem]' %}
                {% set isYearCoverSizeCardHeight = 'min-h-full s:min-h-[65rem] max-h-full s:max-h-[65rem]' %}

                {% set sizeCard = item.card.size|lower | default('small') %}
                {% set sizeCardClassHeight = sizeCard == 'small' ? 'min-h-full s:min-h-[46rem] max-h-full s:max-h-[46rem]' : 'min-h-full s:min-h-[65rem] max-h-full s:max-h-[65rem]' %}

                <article class="slider-item relative mr-25 {{ isYearCoverSizeCardWidth }} {{ isYearCover ? isYearCoverSizeCardHeight : sizeCardClassHeight }} {{ text_color }} {{ 'bg-' ~ bg_color }} js-slide">
                    {% if isYearCover %}
                        <div class="relative w-full h-full flex flex-col items-center justify-center space-y-40 max-w-[35rem] mx-auto">
                            <h2 class="font-disp text-120 leading-[1.1] tracking-[-0.02rem] text-center">{{ item.card.content.card_year }}</h2>
                            <p class="text-16 leading-[1.32] text-center">{{ item.card.content.card_text }}</p>
                            <a href="{{ item.card.content.card_link.url }}" class="flex items-center justify-center gap-8 font-medium text-12 leading-none tracking-[0.1rem] text-center uppercase">
                                <span class="inline-flex">
                                    Explore
                                </span>
                                <span class="inline-flex">
                                    <svg class="w-5 h-auto" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 0.999999L4.5 4.5L1 8" stroke="#1E383E" stroke-width="1.01111" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </a>
                        </div> 
                        
                        <div class="absolute top-0 right-0 pointer-events-none select-none">
                            <svg class="w-[43.3rem] h-auto" viewBox="0 0 433 650" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M755.437 342.169L663.052 379.432C699.79 428.501 724.425 485.369 724.425 557.944C724.425 718.8 593.899 849.651 433.442 849.651C272.986 849.651 142.459 718.8 142.459 557.944C142.459 460.889 199.835 387.447 288.978 304.907L370.232 376.074C305.617 434.892 268.34 494.468 268.34 564.443C268.34 655.758 342.463 729.957 433.442 729.957C524.422 729.957 598.545 655.649 598.545 564.443C598.545 485.153 548.95 420.702 505.621 379.432C575.854 313.681 679.368 215.543 679.368 65.0854C679.368 21.9738 672.237 -19.4047 659.271 -58.1835H554.676C572.181 -20.7046 582.014 20.9989 582.014 65.0854C582.014 162.141 524.638 235.582 435.495 318.122L354.241 246.956C418.855 188.138 456.133 128.561 456.133 58.5861C456.133 -32.7281 382.01 -106.928 291.03 -106.928C200.051 -106.928 125.927 -32.6198 125.927 58.5861C125.927 137.877 175.523 202.328 218.852 243.598C148.618 309.348 45.1045 407.487 45.1045 557.944C45.1045 772.635 219.284 947.248 433.442 947.248C647.601 947.248 821.78 772.635 821.78 557.944C821.78 469.121 793.254 398.496 755.437 342.061V342.169ZM433.334 431.534C458.727 454.389 513.076 510.175 513.076 570.509C513.076 614.596 477.312 650.45 433.334 650.45C389.357 650.45 353.592 614.596 353.592 570.509C353.592 510.175 407.942 454.281 433.334 431.534ZM211.288 52.5202C211.288 8.43368 247.053 -27.4204 291.03 -27.4204C335.007 -27.4204 370.772 8.43368 370.772 52.5202C370.772 112.855 316.422 168.748 291.03 191.495C265.638 168.64 211.288 112.855 211.288 52.5202Z" fill="#1E383E" fill-opacity="0.03"/>
                                <path d="M-3356.69 -85.6969C-3675.76 -85.6969 -3814.29 170.265 -3814.29 422.11C-3814.29 673.955 -3675.76 921.684 -3356.69 921.684C-3037.61 921.684 -2903.19 672.547 -2903.19 422.11C-2903.19 171.673 -3040.31 -85.6969 -3356.69 -85.6969ZM-3356.69 811.414C-3582.08 811.414 -3679.87 616.762 -3679.87 422.11C-3679.87 227.458 -3582.08 24.5735 -3356.69 24.5735C-3131.29 24.5735 -3037.61 224.642 -3037.61 422.11C-3037.61 619.578 -3133.99 811.414 -3356.69 811.414Z" fill="#1E383E" fill-opacity="0.03"/>
                                <path d="M-2385.84 555.453C-2385.84 671.139 -2392.65 713.384 -2429.28 758.229C-2460.51 796.358 -2494.43 818.13 -2550.08 818.13C-2612.53 818.13 -2649.16 789.533 -2664.18 766.353C-2685.9 736.456 -2691.3 699.627 -2691.3 607.122V243.489H-2812.11V607.122C-2812.11 720.1 -2806.7 771.877 -2764.56 828.962C-2718.43 891.571 -2647.76 914.752 -2584.01 914.752C-2469.91 914.752 -2399.35 845.318 -2384.44 792.241V898.396H-2266.34V243.489H-2385.84V555.453Z" fill="#1E383E" fill-opacity="0.03"/>
                                <path d="M-1077.34 226.05C-1274.21 226.05 -1377.4 392.105 -1377.4 571.809C-1377.4 751.513 -1282.31 914.86 -1062.43 914.86C-907.587 914.86 -807.099 795.058 -788.19 705.26L-903.589 680.78C-917.204 743.389 -964.746 820.946 -1067.94 820.946C-1199.65 820.946 -1254 707.968 -1255.3 600.406H-780.086C-778.79 594.99 -778.789 584.049 -778.789 574.517C-778.789 375.749 -887.382 226.05 -1077.55 226.05H-1077.34ZM-1253.89 506.492C-1253.89 404.345 -1190.03 319.964 -1077.34 319.964C-964.638 319.964 -904.886 417.994 -904.886 506.492H-1253.89Z" fill="#1E383E" fill-opacity="0.03"/>
                                <path d="M-182.344 311.84C-228.482 249.23 -299.148 226.05 -362.898 226.05C-477.001 226.05 -551.665 295.483 -566.576 348.56V243.598H-684.676V898.504H-563.875V585.457C-563.875 479.303 -557.068 427.526 -521.735 382.681C-491.912 344.552 -452.473 322.78 -396.827 322.78C-335.669 322.78 -297.743 351.377 -282.724 374.449C-261.006 404.345 -255.603 441.174 -255.603 533.68V898.504H-136.098V533.68C-136.098 420.702 -140.204 368.925 -182.236 311.84H-182.344Z" fill="#1E383E" fill-opacity="0.03"/>
                                <path d="M-1561.19 69.3098V-58.1835L-1681.99 -9.43921V243.598H-1948.67V-58.1835L-2069.47 -9.43921V243.489H-2195.78V340.111H-2069.47V752.704C-2069.47 858.859 -2005.61 907.928 -1903.82 907.928C-1863.09 907.928 -1829.16 901.104 -1810.14 896.987V800.365C-1830.56 804.482 -1854.98 807.19 -1875.3 807.19C-1922.84 807.19 -1948.67 786.825 -1948.67 724.108V340.111H-1681.99V752.704C-1681.99 858.859 -1618.14 907.928 -1516.35 907.928C-1475.61 907.928 -1441.69 901.104 -1422.67 896.987V800.365C-1443.09 804.482 -1467.51 807.19 -1487.82 807.19C-1535.37 807.19 -1561.19 786.825 -1561.19 724.108V340.111H-1422.67V243.489H-1561.19V69.2015V69.3098Z" fill="#1E383E" fill-opacity="0.03"/>
                                <path d="M2245.36 226.05C2040.28 226.05 1928.99 403.046 1928.99 571.809C1928.99 740.573 2040.28 914.86 2245.36 914.86C2450.44 914.86 2560.33 739.273 2560.33 571.809C2560.33 404.345 2449.04 226.05 2245.36 226.05ZM2245.36 818.238C2113.65 818.238 2051.19 690.312 2051.19 571.809C2051.19 453.306 2113.65 322.672 2245.36 322.672C2377.08 322.672 2436.83 453.306 2436.83 571.809C2436.83 690.312 2375.67 818.238 2245.36 818.238Z" fill="#1E383E" fill-opacity="0.03"/>
                                <path d="M3888.72 226.05C3691.85 226.05 3588.66 392.105 3588.66 571.809C3588.66 751.513 3683.75 914.86 3903.63 914.86C4058.47 914.86 4158.96 795.058 4177.87 705.26L4062.47 680.78C4048.85 743.389 4001.31 820.946 3898.12 820.946C3766.41 820.946 3712.05 707.968 3710.76 600.406H4185.97C4187.27 594.99 4187.27 584.049 4187.27 574.517C4187.27 375.749 4078.67 226.05 3888.5 226.05H3888.72ZM3712.16 506.492C3712.16 404.345 3776.02 319.964 3888.72 319.964C4001.42 319.964 4061.17 417.994 4061.17 506.492H3712.16Z" fill="#1E383E" fill-opacity="0.03"/>
                                <path d="M4783.71 311.84C4737.57 249.23 4666.91 226.05 4603.16 226.05C4489.06 226.05 4414.39 295.483 4399.48 348.56V243.598H4281.38V898.504H4402.18V585.457C4402.18 479.303 4408.99 427.526 4444.32 382.681C4474.14 344.552 4513.58 322.78 4569.23 322.78C4630.39 322.78 4668.31 351.377 4683.33 374.449C4705.05 404.345 4710.45 441.174 4710.45 533.68V898.504H4829.96V533.68C4829.96 420.702 4825.85 368.925 4783.82 311.84H4783.71Z" fill="#1E383E" fill-opacity="0.03"/>
                                <path d="M2654.01 898.504H2774.92V-106.928L2654.01 -58.1835V898.504Z" fill="#1E383E" fill-opacity="0.03"/>
                                <path d="M1405.26 484.719H1710.83C1705.43 732.448 1551.99 811.414 1422.98 811.414C1208.39 811.414 1101.2 629.002 1101.2 417.994C1101.2 206.985 1218.01 24.5735 1422.98 24.5735C1556.1 24.5735 1642.97 104.839 1687.81 208.393L1809.26 159.324C1744.65 18.5075 1614.77 -85.6969 1422.98 -85.6969C1133.73 -85.6969 966.786 149.792 966.786 417.994C966.786 686.196 1127.03 921.684 1417.58 921.684C1572.42 921.684 1661.99 850.951 1713.64 759.745V898.612H1835.84V379.54H1405.37V484.719H1405.26Z" fill="#1E383E" fill-opacity="0.03"/>
                                <path d="M3370.94 339.028C3343.81 279.127 3259.64 226.05 3175.36 226.05C2947.27 226.05 2868.5 427.526 2868.5 571.809C2868.5 703.852 2939.05 914.86 3169.96 914.86C3256.83 914.86 3349.22 863.083 3375.04 799.174V898.504H3491.85V-106.928L3371.04 -58.1835V339.028H3370.94ZM3187.57 818.238C3045.05 818.238 2990.7 673.955 2990.7 570.509C2990.7 449.407 3053.16 322.78 3192.98 322.78C3258.13 322.78 3373.53 371.741 3373.53 571.917C3373.53 772.094 3258.13 818.347 3187.46 818.347L3187.57 818.238Z" fill="#1E383E" fill-opacity="0.03"/>
                            </svg>
                        </div>   
                    {% else %}
                        <div class="relative w-full h-full flex flex-col items-start justify-between p-16 s:p-24">
                            <div class="flex items-center justify-between w-full">
                                <p class="text-12 font-medium leading-none tracking-[0.12rem] uppercase">{{ item.card.content.card_type }}</p>
                                <p class="text-12 font-medium leading-none tracking-[0.12rem] uppercase">{{ item.card.content.card_date|date('d.m.Y') }}</p>
                            </div>

                            <div class="relative w-full flex items-end justify-between">
                                <div class="relative s:max-w-[46rem] font-disp text-32 leading-[1.24] tracking-[-0.02rem]">{{ item.card.content.card_description }}</div>

                                <div class="relative shrink-0">
                                    <a href="{{ item.card.content.linkedin_url.url }}" class="w-45 h-45 flex items-center justify-center border border-solid border-current">
                                        <svg class="inline-flex w-13 h-auto" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1.43506 0C1.05446 0 0.689448 0.151194 0.420321 0.420321C0.151194 0.689448 0 1.05446 0 1.43506C0 1.81567 0.151194 2.18068 0.420321 2.44981C0.689448 2.71894 1.05446 2.87013 1.43506 2.87013C1.81567 2.87013 2.18068 2.71894 2.44981 2.44981C2.71894 2.18068 2.87013 1.81567 2.87013 1.43506C2.87013 1.05446 2.71894 0.689448 2.44981 0.420321C2.18068 0.151194 1.81567 0 1.43506 0ZM0.0844156 4.05195C0.0620272 4.05195 0.0405557 4.06084 0.0247247 4.07667C0.0088937 4.0925 0 4.11398 0 4.13636V12.9156C0 12.9622 0.0378182 13 0.0844156 13H2.78571C2.8081 13 2.82957 12.9911 2.84541 12.9753C2.86124 12.9594 2.87013 12.938 2.87013 12.9156V4.13636C2.87013 4.11398 2.86124 4.0925 2.84541 4.07667C2.82957 4.06084 2.8081 4.05195 2.78571 4.05195H0.0844156ZM4.47403 4.05195C4.45164 4.05195 4.43017 4.06084 4.41434 4.07667C4.3985 4.0925 4.38961 4.11398 4.38961 4.13636V12.9156C4.38961 12.9622 4.42743 13 4.47403 13H7.17532C7.19771 13 7.21918 12.9911 7.23502 12.9753C7.25085 12.9594 7.25974 12.938 7.25974 12.9156V8.18831C7.25974 7.85249 7.39315 7.53041 7.63061 7.29295C7.86808 7.05548 8.19015 6.92208 8.52597 6.92208C8.8618 6.92208 9.18387 7.05548 9.42134 7.29295C9.6588 7.53041 9.79221 7.85249 9.79221 8.18831V12.9156C9.79221 12.9622 9.83003 13 9.87662 13H12.5779C12.6003 13 12.6218 12.9911 12.6376 12.9753C12.6534 12.9594 12.6623 12.938 12.6623 12.9156V7.09429C12.6623 5.45527 11.2374 4.17351 9.60649 4.3214C9.10193 4.36769 8.60771 4.49256 8.14171 4.69148L7.25974 5.06966V4.13636C7.25974 4.11398 7.25085 4.0925 7.23502 4.07667C7.21918 4.06084 7.19771 4.05195 7.17532 4.05195H4.47403Z" fill="currentColor"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div> 
                    {% endif %}                  
                </article>
            {% endfor %}
        </div>
    </div>
</section>