{% set text_color_map = {
    'grey': 'text-grey-taupe',
    'black': 'text-grey-taupe',
    'yellow': 'text-black',
    'green': 'text-white-smoke'
} %}
{% set text_color = text_color_map[post.feature_content.background_color|lower] %}

<div class="relative w-full s:h-[100dvh] max-h-[calc(100vh-11rem)] s:max-h-[calc(100vh-12rem)] {{ text_color }}" data-parallax-scroll-start="top bottom" data-parallax="trigger" data-parallax-start="0" data-parallax-end="40">
    <div class="relative size-full flex items-center py-100 s:py-120 justify-center bg-{{ post.feature_content.background_color|lower }}">

        <div class="relative site-grid flex flex-col items-center justify-center space-y-40">

            <div class="relative col-span-16 flex items-center justify-center">
                <h3 class="text-center text-12 font-normal uppercase tracking-[0.1em]">{{ post.post_type }}</h3>
            </div>

            <div class="relative col-span-16 flex items-center justify-center">
                <h1 class="text-center text-56 s:text-96 max-w-[80rem] font-normal leading-[1.10] tracking-[-0.02rem]">{{ post.post_title }}</h1>
            </div>

            <div class="relative col-span-16 px-40 flex items-center justify-center">
                <p class="text-center  text-16 font-normal max-w-[70rem]">
                    {{ post.feature_content.description }}
                </p>
            </div>

        </div>
    </div>
</div>