{% set all_capabilities_layout = props.all_capabilities_layout %}
{% set categories = props.categories %}

<section class="relative" data-component="listIssuesFilter(js-issues-filter)">

    <div class="relative js-issues-filter" data-component="listGrid(js-list-grid)">
        <div class="site-max site-grid pt-60 s:pt-160 pb-60 s:pb-80">
            <div class="col-span-3">
                <button class="flex w-full s:w-[inherit] relative select-none js-list-filter" type="button" aria-label="Filter by grid or list">
                    <div class="w-[6rem] h-full bg-white-smoke absolute top-0 left-0 z-0 js-list-filter-bg"></div>
                    <div class="overflow-hidden py-14 border border-solid border-grey-taupe relative z-1 w-1/2 s:w-[6rem] flex items-center justify-center">
                        <svg class="size-14 relative z-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14">
                            <path d="M6.5,6.5H0V0h6.5v6.5ZM14,6.5h-6.5V0h6.5v6.5ZM6.5,14H0v-6.5h6.5v6.5ZM14,14h-6.5v-6.5h6.5v6.5Z"/>
                        </svg>
                    </div>
                    <div class="overflow-hidden py-16 border border-solid border-grey-taupe relative z-1 ml-[-1px] w-1/2 s:w-[6rem] flex items-center justify-center">
                        <svg class="size-18 relative z-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 10">
                            <path d="M0,6h2v-2H0v2ZM0,10h2v-2H0v2ZM0,2h2V0H0v2ZM4,6h14v-2H4v2ZM4,10h14v-2H4v2ZM4,0v2h14V0H4ZM0,6h2v-2H0v2ZM0,10h2v-2H0v2ZM0,2h2V0H0v2ZM4,6h14v-2H4v2ZM4,10h14v-2H4v2ZM4,0v2h14V0H4Z"/>
                        </svg>
                    </div>
                </button>
            </div>
            
            <div class="col-span-10 hidden s:flex items-center justify-center flex-wrap text-green select-none">
                <button class="relative select-none py-16 px-24 font-sans text-12 font-medium leading-none tracking-[0.12rem] uppercase border-[0.1rem] border-solid border-grey-taupe bg-white-smoke" type="button" aria-label="Button to filter by all" data-filter="all">All</button>
                {% for category in categories %}
                    <button class="relative select-none -ml-1 py-16 px-24 font-sans text-12 font-medium leading-none tracking-[0.12rem] uppercase border-[0.1rem] border-solid border-grey-taupe" type="button" aria-label="Button to filter by all" data-filter="{{ category.slug }}">{{ category.name }}</button>
                {% endfor %}
            </div>

            <div class="relative col-span-4 col-start-5 flex s:hidden justify-end">
                <div class="relative w-full">
                    <button class="relative w-full h-full s:h-[inherit] py-16 px-24 font-sans text-12 font-medium leading-none tracking-[0.12rem] uppercase flex items-center justify-center space-x-12 border-[0.1rem] border-solid border-grey-taupe js-mobile-filter-toggle">
                        <span class="inline-flex">Filter</span>
                        <span class="inline-flex">
                            <svg class="w-[1.1rem] h-auto js-mobile-filter-arrow" viewBox="0 0 11 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.86719 0.75L5.36719 5.25L0.867187 0.75" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </span>
                    </button>

                    <div class="absolute top-full left-0 z-2 w-full h-fit bg-white border-[0.1rem] !border-t-0 border-solid border-grey-taupe js-mobile-filter-dropdown">
                        <ul class="relative">
                            {% for category in categories %}
                                <li class="relative w-full flex {{ loop.last ? 'border-b-0' : 'border-b border-solid border-grey-taupe' }}">
                                    <button class="relative w-full py-16 px-24 font-sans text-12 font-medium leading-none tracking-[0.12rem] uppercase js-mobile-filter-option" type="button" aria-label="Button to filter by all" data-filter="{{ category.slug }}">{{ category.name }}</button>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="relative js-list-grid">
            {% if all_capabilities_layout %}
                {% for layout in all_capabilities_layout.layout %}
                    <div class="relative {{ layout.layout_style == 'Style 1: Grid with Multiple Cards' ? 'layout-issues-style-1' : 'layout-issues-style-2' }} js-issues-layout" data-layout-filter="{{ layout.terms_info[0].slug }}">
                        {% if layout.layout_style == 'Style 1: Grid with Multiple Cards' %}
                            {% include 'pages/capabilities/partials/_layout-style-1.twig' with {
                                props: {
                                    layout: layout
                                }
                            } %}
                        {% elseif layout.layout_style == 'Style 2: Grid by Two Cards' %}
                            {% include 'pages/capabilities/partials/_layout-style-2.twig' with {
                                props: {
                                    layout: layout
                                }
                            } %}
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>