{% set isLightBg = item.background_color and (item.background_color|lower == 'green' or item.background_color|lower == 'yellow') %}
{% set isLight = item.background_color and (item.background_color|lower == 'green' or item.background_color|lower == 'yellow') %}
{% set textClass = isLightBg ? 'text-white-smoke' : '' %}

<section class="relative bg-white">
    {# <pre>{{ item|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre> #}

    <div class="site-grid relative s:left-[50%] s:ml-[-18.75rem]">
        <div class="col-span-full s:col-span-10">
            <div class="relative w-full">
                {% include "blocks/common/image.twig" with {
                    props : {
                        data: {
                            image : item.image
                        },
                        options: {
                            container_class: 'w-full h-full overflow-hidden',
                            class : 'w-full h-full object-cover',
                            aspect_ratio: '80%',
                            aspect_ratio_mobile: '101%' 
                        }
                    }
                } %}
            </div> 
        </div>
    </div>

    <div class="relative s:absolute s:top-0 s:left-0 w-full s:h-full">
        <div class="site-max w-full h-full site-grid">
            <div class="col-start-1 col-span-full s:col-span-6 py-32 s:py-65 s:pl-32 flex flex-col items-start justify-between">
                <div class="relative flex flex-col space-y-40 max-w-full s:max-w-[40.5rem] pb-40 s:pb-0">
                    <div class="relative">
                        <h5 class="text-12 font-medium leading-none tracking-[0.12rem] uppercase text-grey {{ textClass }}">
                            {{ item.subtitle }}
                        </h5>
                    </div>

                    <div class="relative">
                        <div class="text-32 s:text-40 font-normal leading-[1] tracking-[-0.02em] text-green {{ textClass }}">
                            {{ item.title }}
                        </div>
                    </div>
                </div>

                <div class="relative w-full s:w-[inherit] flex flex-col-reverse s:flex-row items-start gap-25 js-slider-office" data-component="sliderOffice(js-slider-office)">
                    <div class="relative w-full s:w-[inherit] s:mt-[0.8rem] flex flex-row s:flex-col gap-x-8 s:gap-x-0 s:gap-y-8 js-slider-office-progress">
                        {% for item in item.card_slider %}
                            <span class="cursor-pointer inline-flex w-1/2 s:w-[0.1rem] h-[0.1rem] s:h-[3rem] {% if isLightBg %}bg-[#DEDAD320]{% else %}bg-grey-taupe{% endif %} js-sop-bar-wrap">
                                <span class="w-full h-full {% if isLight %}bg-green{% else %}bg-white-smoke{% endif %} origin-top scale-y-0 js-slider-office-progress-bar"></span>
                            </span>
                        {% endfor %}
                    </div>

                    <div class="relative w-full s:w-[inherit] flex overflow-hidden js-slider-office-container">
                        {% for item in item.card_slider %}
                            <article class="{% if loop.first %}relative{% else %}absolute top-0 left-0{% endif %} w-full s:w-[inherit] flex flex-col gap-y-40 text-green {{ textClass }} js-slide-office">
                                <div class="flex flex-col gap-y-24">
                                    <h4 class="text-24 s:text-32 font-normal leading-[1.04] -tracking-[0.032rem] {{ textClass }}">
                                        {{ item.city }}
                                    </h4>

                                    <p class="inline-flex w-full text-16 font-normal leading-[1.32] {{ textClass }}">
                                        {{ item.address }}
                                    </p>
                                </div>

                                <div class="flex items-start justify-between s:justify-start gap-32">
                                    {% if item.phone %}
                                        <a href="{{ item.phone }}" target="_blank" class="flex items-center gap-x-8 text-16 font-normal leading-[1.32] {{ textClass }}">
                                            <span class="inline-flex">
                                                <svg class="w-[1.1rem] h-auto" width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M4.53636 12.1641H5.98473M2.90694 1.30127H7.61415C8.81403 1.30127 9.78671 2.27396 9.78671 3.47383V12.5262C9.78671 13.726 8.81403 14.6987 7.61415 14.6987H2.90694C1.70706 14.6987 0.734375 13.726 0.734375 12.5262V3.47383C0.734375 2.27396 1.70706 1.30127 2.90694 1.30127Z" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                                                </svg>
                                            </span>

                                            <span class="inline-flex">Phone</span>
                                        </a>
                                    {% endif %}

                                    {% if item.fax %}
                                        <a href="{{ item.fax }}" target="_blank" class="flex items-center gap-x-8 text-16 font-normal leading-[1.32] {{ textClass }}">
                                            <span class="inline-flex">
                                                <svg class="w-[1.4rem] h-auto" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M9.8916 0.469727C10.3451 0.469727 10.7799 0.650099 11.1006 0.970703C11.4212 1.29135 11.6015 1.72623 11.6016 2.17969V3.88965H10.9629C10.7862 3.88965 10.6146 3.90718 10.4482 3.94141L10.3242 3.9668V2.17969C10.3242 2.06516 10.2783 1.95501 10.1973 1.87402C10.1162 1.79308 10.0061 1.74805 9.8916 1.74805H4.53613C4.4216 1.74805 4.3115 1.79308 4.23047 1.87402C4.14948 1.95501 4.10358 2.06516 4.10352 2.17969V4.75391H9.02832L8.90332 4.91992C8.67797 5.21833 8.51669 5.56828 8.43945 5.94922L8.42285 6.03223H2.92969C2.67311 6.03223 2.42658 6.13405 2.24512 6.31543C2.06364 6.49691 1.96191 6.74335 1.96191 7V11.8203C1.96198 11.9348 2.0069 12.045 2.08789 12.126C2.16888 12.207 2.27903 12.2519 2.39355 12.252H8.42285L8.43945 12.335C8.51579 12.7082 8.67465 13.0596 8.90332 13.3643L9.02734 13.5303H2.39355C1.9401 13.5302 1.50522 13.3499 1.18457 13.0293C0.863922 12.7086 0.683658 12.2738 0.683594 11.8203V7C0.683594 6.40441 0.920653 5.83325 1.3418 5.41211L1.50586 5.2627C1.87901 4.95693 2.34217 4.78106 2.82617 4.75879V2.17969C2.82624 1.72623 3.0065 1.29135 3.32715 0.970703C3.64784 0.650099 4.08266 0.469727 4.53613 0.469727H9.8916ZM12.0342 4.75391C12.4876 4.75397 12.9225 4.93434 13.2432 5.25488C13.5639 5.57559 13.7441 6.0113 13.7441 6.46484V11.8203C13.7441 12.2738 13.5638 12.7086 13.2432 13.0293C12.9225 13.3499 12.4876 13.5302 12.0342 13.5303H10.9629C10.5094 13.5303 10.0746 13.3499 9.75391 13.0293C9.43326 12.7086 9.25299 12.2738 9.25293 11.8203V6.46484C9.25293 6.0113 9.4332 5.57559 9.75391 5.25488C10.0746 4.93438 10.5095 4.75391 10.9629 4.75391H12.0342ZM10.9629 6.03223C10.8483 6.03223 10.7383 6.07814 10.6572 6.15918C10.5763 6.24021 10.5303 6.35031 10.5303 6.46484V11.8203C10.5303 11.9348 10.5762 12.045 10.6572 12.126C10.7383 12.2069 10.8484 12.252 10.9629 12.252H12.0342C12.1487 12.2519 12.2589 12.207 12.3398 12.126C12.4208 12.045 12.4658 11.9348 12.4658 11.8203V6.46484C12.4658 6.35038 12.4207 6.24019 12.3398 6.15918C12.2589 6.07819 12.1487 6.03229 12.0342 6.03223H10.9629ZM3.46484 9.03906C3.63427 9.03906 3.79717 9.10581 3.91699 9.22559C4.0368 9.3454 4.10349 9.5083 4.10352 9.67773C4.10352 9.8472 4.03682 10.0101 3.91699 10.1299C3.79716 10.2497 3.63431 10.3164 3.46484 10.3164C3.29541 10.3164 3.13251 10.2497 3.0127 10.1299C2.89292 10.0101 2.82617 9.84716 2.82617 9.67773C2.82619 9.5083 2.89288 9.3454 3.0127 9.22559C3.13251 9.10578 3.29541 9.03908 3.46484 9.03906ZM5.60742 9.03906C5.77661 9.03913 5.93886 9.10607 6.05859 9.22559C6.17841 9.3454 6.24607 9.5083 6.24609 9.67773C6.24609 9.8472 6.17842 10.0101 6.05859 10.1299C5.93885 10.2495 5.77665 10.3163 5.60742 10.3164C5.43799 10.3164 5.2751 10.2497 5.15527 10.1299C5.03544 10.0101 4.96777 9.8472 4.96777 9.67773C4.9678 9.5083 5.03546 9.3454 5.15527 9.22559C5.27509 9.10586 5.43803 9.03906 5.60742 9.03906ZM3.46484 6.89648C3.63431 6.89648 3.79716 6.96415 3.91699 7.08398C4.03657 7.2037 4.10341 7.36595 4.10352 7.53516C4.10352 7.70455 4.03672 7.86749 3.91699 7.9873C3.79716 8.10714 3.63431 8.1748 3.46484 8.1748C3.29541 8.17478 3.13251 8.10712 3.0127 7.9873C2.89302 7.8675 2.82617 7.70451 2.82617 7.53516C2.82628 7.36599 2.89316 7.20369 3.0127 7.08398C3.13251 6.96417 3.29541 6.89651 3.46484 6.89648ZM5.60742 6.89648C5.77676 6.89655 5.93883 6.96426 6.05859 7.08398C6.17833 7.20372 6.24599 7.36584 6.24609 7.53516C6.24609 7.70462 6.17842 7.86747 6.05859 7.9873C5.93884 8.10698 5.77672 8.17474 5.60742 8.1748C5.43796 8.1748 5.2751 8.10714 5.15527 7.9873C5.03549 7.86748 4.96777 7.70458 4.96777 7.53516C4.96788 7.36591 5.03564 7.2037 5.15527 7.08398C5.2751 6.96415 5.43796 6.89648 5.60742 6.89648Z" fill="currentColor" stroke="currentColor" stroke-width="0.20682"/>
                                                </svg>
                                            </span>

                                            <span class="inline-flex">Fax</span>
                                        </a>
                                    {% endif %}

                                    {% if item.email %}
                                        <a href="mailto:{{ item.email }}" target="_blank" class="flex items-center gap-x-8 text-16 font-normal leading-[1.32] {{ textClass }}">
                                            <span class="inline-flex">
                                                <svg class="w-[1.3rem] h-auto" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.992709 2.73049C0.681262 2.55197 0.284061 2.65972 0.105536 2.97117C-0.0729892 3.28261 0.0347649 3.67982 0.346211 3.85834L0.992709 2.73049ZM5.08981 5.82822L5.41604 5.26601L5.41306 5.26429L5.08981 5.82822ZM6.30916 6.15637V6.80637V6.15637ZM7.52851 5.82822L7.20593 5.2639L7.20228 5.26601L7.52851 5.82822ZM12.2837 3.85873C12.5954 3.68057 12.7036 3.2835 12.5254 2.97184C12.3473 2.66018 11.9502 2.55195 11.6386 2.73011L12.2837 3.85873ZM3.09467 1.43516H9.53653V0.135156H3.09467V1.43516ZM9.53653 1.43516C10.5329 1.43516 11.3406 2.24285 11.3406 3.2392H12.6406C12.6406 1.52488 11.2509 0.135156 9.53653 0.135156V1.43516ZM11.3406 3.2392V8.7608H12.6406V3.2392H11.3406ZM11.3406 8.7608C11.3406 9.75715 10.5329 10.5648 9.53653 10.5648V11.8648C11.2509 11.8648 12.6406 10.4751 12.6406 8.7608H11.3406ZM9.53653 10.5648H3.09467V11.8648H9.53653V10.5648ZM3.09467 10.5648C2.09832 10.5648 1.29062 9.75715 1.29062 8.7608H-0.00937498C-0.00937498 10.4751 1.38035 11.8648 3.09467 11.8648V10.5648ZM1.29062 8.7608V3.2392H-0.00937498V8.7608H1.29062ZM1.29062 3.2392C1.29062 2.24285 2.09832 1.43516 3.09467 1.43516V0.135156C1.38035 0.135156 -0.00937498 1.52488 -0.00937498 3.2392H1.29062ZM0.346211 3.85834L4.76656 6.39214L5.41306 5.26429L0.992709 2.73049L0.346211 3.85834ZM4.76358 6.39042C5.2331 6.66287 5.76631 6.80637 6.30916 6.80637V5.50637C5.99547 5.50637 5.68736 5.42345 5.41604 5.26601L4.76358 6.39042ZM6.30916 6.80637C6.85201 6.80637 7.38522 6.66287 7.85474 6.39042L7.20228 5.26601C6.93096 5.42345 6.62285 5.50637 6.30916 5.50637V6.80637ZM7.85109 6.39253L12.2837 3.85873L11.6386 2.73011L7.20594 5.26391L7.85109 6.39253Z" fill="currentColor"/>
                                                </svg>
                                            </span>

                                            <span class="inline-flex">Email</span>
                                        </a>
                                    {% endif %}
                                    
                                    {% if item.map %}
                                        <a href="{{ item.map }}" target="_blank" class="flex items-center gap-x-8 text-16 font-normal leading-[1.32] {{ textClass }}">
                                            <span class="inline-flex">
                                                <svg class="w-[1.3rem] h-auto" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <mask id="path-1-outside-1_3153_6433" maskUnits="userSpaceOnUse" x="-0.00976562" y="-0.575684" width="13" height="13" fill="black">
                                                        <rect fill="currentColor" x="-0.00976562" y="-0.575684" width="13" height="13"/>
                                                        <path d="M1.16843 6.06708C1.36171 6.25493 1.55498 6.31574 1.93634 6.32116L6.1181 6.33766C6.15675 6.33766 6.18975 6.34332 6.20648 6.35982C6.22298 6.37632 6.2284 6.40955 6.2284 6.44821L6.2449 10.6302C6.25056 11.0113 6.31137 11.2046 6.50464 11.3979C6.76438 11.663 7.12901 11.619 7.39959 11.3538C7.54337 11.21 7.65933 10.9727 7.76421 10.7516L11.9903 1.6369C12.2111 1.17304 12.1836 0.830338 11.9573 0.609253C11.736 0.382982 11.3935 0.355406 10.9296 0.576255L1.81472 4.80232C1.59363 4.90721 1.35629 5.02317 1.21251 5.16695C0.947349 5.43753 0.903274 5.80192 1.16843 6.06708ZM2.28989 5.48184C2.28423 5.46534 2.29531 5.44884 2.32854 5.43211L11.0732 1.41534C11.1175 1.39884 11.1394 1.39884 11.1561 1.40992C11.1672 1.42642 11.1672 1.44857 11.1505 1.49289L7.13466 10.2375C7.11817 10.2708 7.10167 10.2818 7.08517 10.2762C7.07385 10.2762 7.05735 10.2543 7.05735 10.2321L7.08493 5.86792C7.08493 5.7298 7.03544 5.64165 6.98005 5.58626C6.92466 5.5311 6.83627 5.48137 6.69839 5.48137L2.3342 5.50895C2.31204 5.50895 2.29012 5.49245 2.29012 5.48137"/>
                                                    </mask>
                                                    <path d="M1.16843 6.06708C1.36171 6.25493 1.55498 6.31574 1.93634 6.32116L6.1181 6.33766C6.15675 6.33766 6.18975 6.34332 6.20648 6.35982C6.22298 6.37632 6.2284 6.40955 6.2284 6.44821L6.2449 10.6302C6.25056 11.0113 6.31137 11.2046 6.50464 11.3979C6.76438 11.663 7.12901 11.619 7.39959 11.3538C7.54337 11.21 7.65933 10.9727 7.76421 10.7516L11.9903 1.6369C12.2111 1.17304 12.1836 0.830338 11.9573 0.609253C11.736 0.382982 11.3935 0.355406 10.9296 0.576255L1.81472 4.80232C1.59363 4.90721 1.35629 5.02317 1.21251 5.16695C0.947349 5.43753 0.903274 5.80192 1.16843 6.06708ZM2.28989 5.48184C2.28423 5.46534 2.29531 5.44884 2.32854 5.43211L11.0732 1.41534C11.1175 1.39884 11.1394 1.39884 11.1561 1.40992C11.1672 1.42642 11.1672 1.44857 11.1505 1.49289L7.13466 10.2375C7.11817 10.2708 7.10167 10.2818 7.08517 10.2762C7.07385 10.2762 7.05735 10.2543 7.05735 10.2321L7.08493 5.86792C7.08493 5.7298 7.03544 5.64165 6.98005 5.58626C6.92466 5.5311 6.83627 5.48137 6.69839 5.48137L2.3342 5.50895C2.31204 5.50895 2.29012 5.49245 2.29012 5.48137" fill="currentColor"/>
                                                    <path d="M1.16843 6.06708L1.02907 6.20644L1.03108 6.2084L1.16843 6.06708ZM1.93634 6.32116L1.93354 6.51822L1.93556 6.51823L1.93634 6.32116ZM6.1181 6.33766L6.11732 6.53473H6.1181V6.33766ZM6.20648 6.35982L6.34583 6.22047L6.34484 6.21949L6.20648 6.35982ZM6.2284 6.44821H6.03134L6.03134 6.44898L6.2284 6.44821ZM6.2449 10.6302L6.04783 10.631L6.04786 10.6331L6.2449 10.6302ZM6.50464 11.3979L6.64543 11.26L6.64399 11.2585L6.50464 11.3979ZM7.39959 11.3538L7.53753 11.4945L7.53894 11.4931L7.39959 11.3538ZM7.76421 10.7516L7.94227 10.8361L7.943 10.8345L7.76421 10.7516ZM11.9903 1.6369L11.8123 1.55218L11.8115 1.554L11.9903 1.6369ZM11.9573 0.609253L11.8164 0.747085L11.8196 0.750205L11.9573 0.609253ZM10.9296 0.576255L11.0125 0.755049L11.0144 0.754183L10.9296 0.576255ZM1.81472 4.80232L1.73182 4.62353L1.73025 4.62428L1.81472 4.80232ZM1.21251 5.16695L1.07316 5.0276L1.07176 5.02902L1.21251 5.16695ZM2.32854 5.43211L2.24623 5.25292L2.23991 5.2561L2.32854 5.43211ZM11.0732 1.41534L11.0044 1.23066L10.9976 1.23321L10.9909 1.23626L11.0732 1.41534ZM11.1561 1.40992L11.3198 1.30007L11.2978 1.26735L11.2649 1.2456L11.1561 1.40992ZM11.1505 1.49289L11.33 1.57533L11.3348 1.56251L11.1505 1.49289ZM7.13466 10.2375L7.31126 10.3252L7.31375 10.3198L7.13466 10.2375ZM7.08517 10.2762L7.14908 10.0898L7.11801 10.0791H7.08517V10.2762ZM7.05735 10.2321L6.86029 10.2309V10.2321H7.05735ZM7.08493 5.86792L7.282 5.86916V5.86792H7.08493ZM6.98005 5.58626L7.11939 5.44691L7.1191 5.44661L6.98005 5.58626ZM6.69839 5.48137V5.2843L6.69714 5.28431L6.69839 5.48137ZM2.3342 5.50895V5.70602L2.33544 5.70601L2.3342 5.50895ZM1.03108 6.2084C1.14581 6.3199 1.26765 6.39973 1.4205 6.44981C1.5684 6.49826 1.7351 6.51539 1.93354 6.51821L1.93914 6.12412C1.75622 6.12152 1.6356 6.10553 1.54321 6.07526C1.45577 6.04662 1.38433 6.00211 1.30579 5.92577L1.03108 6.2084ZM1.93556 6.51823L6.11732 6.53473L6.11888 6.1406L1.93712 6.1241L1.93556 6.51823ZM6.1181 6.53473C6.12938 6.53473 6.13113 6.5357 6.1265 6.53464C6.12375 6.53401 6.11665 6.53219 6.10707 6.52767C6.09741 6.52312 6.08295 6.51476 6.06813 6.50015L6.34484 6.21949C6.29977 6.17506 6.2472 6.15795 6.21452 6.15047C6.17955 6.14245 6.14547 6.1406 6.1181 6.1406V6.53473ZM6.06714 6.49917C6.05174 6.48377 6.04305 6.46865 6.0384 6.45873C6.03379 6.44887 6.03197 6.4416 6.03136 6.43893C6.03036 6.43446 6.03134 6.43644 6.03134 6.44821H6.42547C6.42547 6.42131 6.42374 6.38736 6.4159 6.35248C6.40865 6.32025 6.39167 6.26631 6.34583 6.22047L6.06714 6.49917ZM6.03134 6.44898L6.04784 10.631L6.44197 10.6294L6.42547 6.44743L6.03134 6.44898ZM6.04786 10.6331C6.0508 10.8313 6.06797 10.9984 6.11748 11.1468C6.1687 11.3004 6.25059 11.4225 6.3653 11.5372L6.64399 11.2585C6.56542 11.18 6.52028 11.1088 6.49136 11.0221C6.46072 10.9303 6.44466 10.8102 6.44195 10.6273L6.04786 10.6331ZM6.36386 11.5358C6.53284 11.7083 6.74488 11.7865 6.96181 11.7713C7.17449 11.7564 7.37544 11.6534 7.53752 11.4945L7.26166 11.213C7.15315 11.3194 7.0365 11.371 6.93429 11.3781C6.83632 11.385 6.73619 11.3526 6.64542 11.26L6.36386 11.5358ZM7.53894 11.4931C7.71156 11.3205 7.8414 11.0486 7.94226 10.8361L7.58617 10.6671C7.47725 10.8967 7.37517 11.0995 7.26024 11.2144L7.53894 11.4931ZM7.943 10.8345L12.1691 1.71979L11.8115 1.554L7.58543 10.6687L7.943 10.8345ZM12.1682 1.72161C12.4053 1.22366 12.4092 0.775264 12.095 0.4683L11.8196 0.750205C11.9579 0.885411 12.017 1.12243 11.8124 1.55218L12.1682 1.72161ZM12.0982 0.471455C11.791 0.157423 11.3429 0.16121 10.8449 0.398326L11.0144 0.754183C11.444 0.549601 11.6809 0.608542 11.8164 0.74705L12.0982 0.471455ZM10.8467 0.39747L1.73183 4.62354L1.89761 4.98111L11.0125 0.75504L10.8467 0.39747ZM1.73025 4.62428C1.51766 4.72513 1.24579 4.85497 1.07316 5.0276L1.35186 5.3063C1.46678 5.19137 1.66961 5.08929 1.89919 4.98037L1.73025 4.62428ZM1.07176 5.02902C0.91288 5.19115 0.80988 5.39207 0.795013 5.60534C0.779864 5.82265 0.857865 6.03521 1.02909 6.20643L1.30778 5.92773C1.21384 5.8338 1.1813 5.73158 1.18819 5.63275C1.19536 5.5299 1.24698 5.41333 1.35326 5.30488L1.07176 5.02902ZM2.4763 5.41793C2.48497 5.44321 2.48853 5.47342 2.48266 5.50525C2.47693 5.53624 2.46394 5.55978 2.45222 5.57539C2.43173 5.60267 2.41139 5.61103 2.41717 5.60812L2.23991 5.2561C2.21246 5.26992 2.16996 5.2949 2.13704 5.33874C2.09632 5.39297 2.07705 5.46868 2.10347 5.54576L2.4763 5.41793ZM2.4108 5.61119L11.1554 1.59442L10.9909 1.23626L2.24628 5.25303L2.4108 5.61119ZM11.1419 1.60002C11.1572 1.59434 11.1517 1.59824 11.1352 1.59909C11.1253 1.5996 11.1108 1.59909 11.0937 1.59473C11.0761 1.59025 11.0604 1.58288 11.0474 1.57424L11.2649 1.2456C11.1617 1.17728 11.0547 1.21193 11.0044 1.23066L11.1419 1.60002ZM10.9925 1.51977C10.9834 1.50621 10.9759 1.49012 10.9713 1.47225C10.9669 1.45493 10.9664 1.4403 10.967 1.43038C10.9679 1.41373 10.9718 1.40823 10.9661 1.42326L11.3348 1.56251C11.3537 1.51265 11.3895 1.40399 11.3198 1.30007L10.9925 1.51977ZM10.9714 1.41064L6.95558 10.1553L7.31375 10.3198L11.3296 1.57513L10.9714 1.41064ZM6.95815 10.1499C6.9554 10.1554 6.9638 10.1348 6.99132 10.1141C7.00705 10.1022 7.03067 10.0892 7.06172 10.0834C7.09359 10.0775 7.12382 10.0811 7.14908 10.0898L7.02125 10.4626C7.09826 10.489 7.1741 10.4698 7.22852 10.4288C7.27253 10.3957 7.29743 10.3528 7.31118 10.3252L6.95815 10.1499ZM7.08517 10.0791C7.14306 10.0791 7.18161 10.105 7.19581 10.1159C7.21323 10.1292 7.22415 10.143 7.23063 10.1526C7.24273 10.1706 7.25442 10.1972 7.25442 10.2321H6.86029C6.86029 10.2892 6.88023 10.3378 6.90341 10.3723C6.91543 10.3902 6.93259 10.4108 6.95629 10.4289C6.97676 10.4446 7.02161 10.4732 7.08517 10.4732V10.0791ZM7.25442 10.2333L7.28199 5.86916L6.88787 5.86667L6.86029 10.2309L7.25442 10.2333ZM7.282 5.86792C7.282 5.67675 7.21118 5.5387 7.11939 5.44691L6.8407 5.7256C6.85186 5.73676 6.86286 5.75151 6.8714 5.77198C6.87993 5.7924 6.88787 5.82294 6.88787 5.86792H7.282ZM7.1191 5.44661C7.02761 5.35552 6.88956 5.28431 6.69839 5.28431V5.67844C6.74307 5.67844 6.77362 5.68637 6.79418 5.69496C6.81482 5.70359 6.82975 5.7147 6.841 5.7259L7.1191 5.44661ZM6.69714 5.28431L2.33295 5.31189L2.33544 5.70601L6.69963 5.67843L6.69714 5.28431ZM2.3342 5.31188C2.36909 5.31188 2.39551 5.32356 2.4133 5.33543C2.42283 5.3418 2.43645 5.35256 2.44978 5.36979C2.46038 5.3835 2.48719 5.42244 2.48719 5.48137H2.09306C2.09306 5.54584 2.1226 5.591 2.13801 5.61092C2.15614 5.63435 2.17663 5.65132 2.1944 5.66319C2.22869 5.68609 2.27715 5.70601 2.3342 5.70601V5.31188Z" fill="currentColor" mask="url(#path-1-outside-1_3153_6433)"/>
                                                </svg>
                                            </span>

                                            <span class="inline-flex">Map</span>
                                        </a>
                                    {% endif %}
                                </div>
                            </article> 
                        {% endfor %}   
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>