{# Get ACF fields using WordPress functions #}
{% set post_id = post.ID %}
{% set image = fn('get_field', 'feature_content_feature_image', post_id) %}
{% set bg = fn('get_field', 'feature_content_background_color', post_id) %}
{% set description = fn('get_field', 'feature_content_description', post_id) %}

    {% set text_color_map = {
        'grey': 'text-white',
        'black': 'text-grey-taupe',
        'yellow': 'text-black',
        'green': 'text-white-smoke'
    } %}
    {% set text_hover_map = {
        'grey': 'text-grey',
        'black': 'text-black',
        'yellow': 'text-white',
        'green': 'text-grey',
    } %}
    {% set bg_hover_map = {
        'grey': 'bg-white-smoke',
        'black': 'bg-grey-taupe',
        'yellow': 'bg-grey',
        'green': 'bg-white-smoke',
    } %}
    {% set text_color = text_color_map[bg|lower]|default('text-grey') %}
    {% set text_hover_color = text_hover_map[bg|lower]|default('text-white') %}
    {% set bg_hover_color = bg_hover_map[bg|lower]|default('bg-grey') %}

<div class="column w-full relative group overflow-hidden">
    <a href="{{ fn('get_permalink', post_id) }}" class="column-inner overflow-hidden block size-full relative js-search-link {{ image ? 'text-white' }} bg-{{ bg|lower }} {{ text_color }} hover:{{ image ? 'text-white' :  text_hover_color }} hover:{{ bg_hover_color }} transition-all duration-300">
        {% if image %}
            {% include "blocks/common/image.twig" with {
                props : {
                    data: {
                        image : image
                    },
                    options: {
                        container_class: 'column-image w-full overflow-hidden',
                        class : 'w-full h-full object-cover group-hover:scale-105 transition-all duration-[1s]',
                        size: 'large',
                        aspect_ratio: '0%',
                    }
                }
            } %}
        {% endif %}

        <div class="column-category absolute top-0 left-0 w-full p-16 l:p-24">
            <span class="text-12 font-medium leading-none tracking-[0.12rem] uppercase">Issue</span>
        </div>

        <div class="absolute z-1 bottom-0 left-0 w-full p-16 l:p-24 leading-none flex justify-between items-end w-full">
            <p class="column-title text-20 font-normal">{{ post.post_title }}</p>
            <p class="column-link text-12 font-medium leading-none tracking-[0.12rem] uppercase flex gap-x-5 items-center whitespace-nowrap">
                <span class="column-link-text hidden">
                    See more
                </span>
                <span class="inline-flex">
                    <svg class="w-6 h-10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 0.999999L4.5 4.5L1 8" stroke="currentColor" stroke-width="1.01111" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </span>
            </p>
        </div>
    </a>
</div>