{% set text_color_map = {
    'grey': 'text-grey-taupe',
    'black': 'text-grey-taupe',
    'yellow': 'text-black',
    'green': 'text-white-smoke'
} %}

{% set bg_color = post.feature_content.background_color|lower %}
{% set text_color = text_color_map[bg_color] %}

<section class="relative">
    <div class="relative w-full s:h-[100dvh] max-h-[calc(100vh-11rem)] s:max-h-[calc(100vh-12rem)]">
        <div class="relative py-32 s:py-0 w-full h-full flex flex-col {{ post.feature_content.feature_image ? '' : 'justify-center' }} s:flex-row bg-{{ bg_color }}">
            
            
                {% if post.feature_content.feature_image %}
                    <div class="relative w-full s:w-1/2 h-full">
                        <figure class="relative mx-auto s:mx-0 w-[32rem] s:w-full h-[35rem] s:h-full">
                            {% include "blocks/common/image.twig" with {
                                props : {
                                    data: {
                                        image : post.feature_content.feature_image
                                    },
                                    options: {
                                        container_class: 'w-full h-full overflow-hidden',
                                        class : 'w-full h-full object-cover',
                                    }
                                }
                            } %}
                        </figure>
                    </div>
                {% endif %}
            

            <div class="relative w-full s:w-1/2 h-full flex flex-col items-center s:justify-between space-y-32 s:space-y-0 p-32 {{ text_color }} bg-{{ bg_color }}">
                <div class="relative flex items-start gap-4">
                    {% for item in categories %}
                        {% include "/views/partials/tag.twig" with {
                            data: {
                                text: item.name,
                            }
                        } %}
                    {% endfor %}
                </div>

                <div class="relative">
                    <h1 class="text-center font-normal text-48 s:text-56 leading-[1.1] tracking-[-2%]">{{ post.feature_content.title }}</h1>
                </div>

                <div class="relative flex items-start gap-4 {{ item.background_color|lower }}">
                    {% for item in tags %}
                        {% include "/views/partials/category.twig" with {
                            data: {
                                text: item.name,
                                bgColor: item.background_color,
                            }
                        } %}
                    {% endfor %}
                </div>
            </div>
            
        </div>
    </div>
</section>