{% set isLight = item.background_color and (item.background_color|lower == 'green' or item.background_color|lower == 'yellow') %}

<section class="relative {{ item.background_color ? 'bg-' ~ item.background_color|lower : 'bg-grey' }}">
    {# <pre>{{ item|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre> #}

    <div class="js-bg-switcher absolute top-0 left-0 w-full h-full inset-0"></div>

    <div class="relative border-t {{ isLight ? 'border-grey-taupe border-opacity-20' : 'border-white-smoke border-opacity-20' }}">
        <div class="site-max site-grid relative pt-120 pb-95">
            <div class="s:sticky s:top-160 h-fit pb-32 col-span-16 s:col-start-2 s:col-span-6 flex flex-col gap-y-25">
                <h2 class="{{ isLight ? 'text-green' : 'text-white-smoke' }} text-12 font-sans font-medium leading-none tracking-[0.12rem] uppercase js-bg-switcher-text">{{ item.subtitle }}</h2>
                <h3 class="text-32 font-normal leading-[1.16] tracking-[-0.032rem] {{ isLight ? 'text-green' : 'text-white-smoke' }} js-bg-switcher-text">{{ item.description }}</h3>
            </div>

            <div class="col-span-16 s:col-start-9 s:col-span-8">
                {% for item in item.card %}
                    <article class="relative flex flex-col items-start {% if loop.first %}pt-0{% else %}pt-85{% endif %} pb-32 s:pl-22 s:pr-12 space-y-65">
                        <div class="relative max-w-[22.6rem] w-full mx-auto">
                            {% include "blocks/common/image.twig" with {
                                props : {
                                    data: {
                                        image : item.image
                                    },
                                    options: {
                                        container_class: 'w-full h-full overflow-hidden',
                                        class : 'w-full h-full object-contain',
                                        aspect_ratio: '120%',
                                    }
                                }
                            } %}                    
                        </div>
                        <div class="relative {{ isLight ? 'text-green' : 'text-white-smoke' }} space-y-22 js-bg-switcher-text">
                            <p class="text-48 font-normal leading-none tracking-[-0.048rem]"> {{ item.title }} </p>
                            <p class="text-16 font-normal leading-[1.32]"> {{ item.description }} </p>
                        </div>

                        {% if not loop.last %}
                            <div class="absolute bottom-0 left-[-1.2rem] w-[100vw] h-[1px] bg-current opacity-20 js-bg-switcher-text"></div>
                        {% endif %}
                    </article>
                {% endfor %}
            </div>

            <div class="absolute hidden s:block top-0 left-1/2 -translate-x-1/2 w-[1px] h-full bg-current opacity-20 js-bg-switcher-text"></div>
        </div>
    </div>
</section>