{% set isLight = item.background_color and (item.background_color|lower == 'green' or item.background_color|lower == 'yellow') %}

<section class="relative {{ item.background_color ? 'bg-' ~ item.background_color|lower : 'bg-grey' }}">
    {# <pre>{{ item|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre> #}

    <div class="relative border-t {{ isLight ? 'border-grey-taupe border-opacity-20' : 'border-green border-opacity-20' }}">
        <div class="site-max site-grid relative pt-120 pb-95">
            <div class="sticky top-120 h-fit pb-32 col-start-2 col-span-6 flex flex-col gap-y-25">
                <p class="{{ isLight ? 'text-grey-taupe' : 'text-grey' }} text-12 font-medium leading-none tracking-[0.12rem] uppercase">{{ item.subtitle }}</p>
                <h2 class="text-32 font-normal leading-[1.16] tracking-[-0.032rem] {{ isLight ? 'text-white-smoke' : 'text-green' }}">{{ item.description }}</h2>
            </div>

            <div class="col-start-9 col-span-8">
                {% for item in item.card %}
                    <article class="relative flex flex-col items-start {% if loop.first %}pt-0{% else %}pt-85{% endif %} pb-32 pl-22 pr-12 space-y-65">
                        <div class="relative max-w-[22.6rem] w-full mx-auto">
                            {% include "blocks/common/image.twig" with {
                                props : {
                                    data: {
                                        image : item.image
                                    },
                                    options: {
                                        container_class: 'w-full h-full overflow-hidden',
                                        class : 'w-full h-full object-contain',
                                        aspect_ratio: '120%',
                                    }
                                }
                            } %}                    
                        </div>
                        <div class="relative {{ isLight ? 'text-white-smoke' : 'text-black' }} space-y-22">
                            <h4 class="text-48 font-normal leading-none tracking-[-0.048rem]"> {{ item.title }} </h4>
                            <p class="text-16 font-normal leading-[1.32]"> {{ item.description }} </p>
                        </div>

                        {% if not loop.last %}
                            <div class="absolute bottom-0 left-[-1.2rem] w-[100vw] h-[1px] {{ isLight ? 'bg-grey-taupe bg-opacity-20' : 'bg-green bg-opacity-20' }}"></div>
                        {% endif %}
                    </article>
                {% endfor %}
            </div>

            <div class="absolute top-0 left-1/2 -translate-x-1/2 w-[1px] h-full {{ isLight ? 'bg-grey-taupe bg-opacity-20' : 'bg-green bg-opacity-20' }}"></div>
        </div>
    </div>
</section>